*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --Caveat: "Caveat", cursive;
    --YanoneKaffeesatz: "Yanone Kaffeesatz", sans-serif;
    --OpenSans: "Open Sans", sans-serif;    
}
.container{
    position: relative;
    width: 100%;
    height: 100vh;
    margin: auto;
    font-family: var(--YanoneKaffeesatz);
}

header{
    position: relative;
    background-color: #D2D2D2;
    width: 100%;
    height: 30px;
}
header p{
    position: relative;
    display:inline-flex ;
    align-items:center ;
    font-size: 20px;
    padding-left: 25px; 
    top: 5px;
    left: 15px;
    color: #777777;
}
.navegacion{
    position: relative;
    background-color: #e90000;
    width: 100%;
    height: 120px;
}
.navegacion p i{
    position: absolute;
    top: 0px;
    font-size: 40px;
    color: #FFFFFF;
    left: 72px;
    cursor: pointer;
}
.navegacion p img{
        position: absolute;
        top: -14px;
        width: 250px;
        height: 60px;
        left: 150px;
}
.navegacion input{
    position: absolute;
    width: 580px;
    height: 40px;
    left: 507px;
    top: 20px;
    border-radius: 20px;
    border: none;
    outline: none;
    padding-left: 20px;
    font-size: 16px;
    font-family: var(--YanoneKaffeesatz);
}
.navegacion input::placeholder{
    color: #aaaaaa;
    font-family: var(--YanoneKaffeesatz);
}
.navegacion span{
    position: absolute;
    top: 30px;
    left: 1055px;
    font-size: 23px;
    color: #000000; 
    cursor: pointer;
}
.carro .fa-cart-shopping{
    position: relative;
    left: 1220px;
    top:30px;
    color: #FFFFFF;
}
.navegacion .li-1{
position: absolute;
list-style: none;
left: 1305px;
top: 80px;
font-size: 16px;
}
.li-1 a{
    text-decoration: none;
    color: #FFFFFF;
    font-family: var(--YanoneKaffeesatz);
    font-size: 14px;
    font-weight: bold;
}

.cuenta .fa-circle-user{
    position: relative;
    left: 1180px;
    top: 30px;
    color: #FFFFFF;
}
.navegacion .li-2{
    position: absolute;
    list-style: none;
    left: 1400px;
    top: 80px;
    font-size: 16px;
    z-index: 1;
    }
.li-2 a{
    text-decoration: none;
    color: #FFFFFF;
    font-family: var(--YanoneKaffeesatz);
    font-size: 14px;
    font-weight: bold;
}
.navegacion div{
position: absolute;
top: 70px;
left: 530px;
display: flex;
width: 500px;
height: 40px;
justify-content: space-between;
}
.navegacion div .modoentrega{
    background-color: #FFFFFF;
    border-radius: 20px;
    width: 180px;
    height: 28px;
    top: 6px;
    font-size: 14px;
    font-family: var(--OpenSans);
    font-weight: 600;
}
.modoentrega a{
    text-decoration: none;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}
div .modoentrega .fa-shop{
    position: absolute;
    color: #000000;
    font-size: 20px;
    left: 15px;
    top: 4px;
}
.navegacion div .quienessomos{
    background-color: #FFFFFF;
    border-radius: 20px;
    width: 180px;
    height: 28px;
    top: 6px;
    font-size: 14px;
    font-family: var(--OpenSans);
    font-weight: 600;
}
.quienessomos a{
    text-decoration: none;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px
}
div .quienessomos .fa-store{
    position: absolute;
    color: #000000;
    font-size: 20px;
    left: 15px;
    top: 4px;
}
#menu{
    position: relative;
    background-color: #e90000;
    width: 200px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    left: -200px;
    transition: all .3s linear;
}
#menu.active{
    opacity: 1;
    left: 0;
}
.fa-xmark{
    position: absolute;
    right: -10px;
    top: 18px;
    font-size: 20px;
    cursor: pointer;
}

#menu ul{
    position: absolute;
    list-style: none;
    font-family: var(--YanoneKaffeesatz);
    font-size: 15px;
    color: #FFFFFF;
    top: -10px;
}
#menu ul li{
    border-bottom: 2px solid #FF9F23;
    padding: 10px;
    padding-top: 35px;
    padding-left: 10px;
}
#menu ul li a{
    color: #FFFFFF;
    text-decoration: none;   
}
.carrusel{
    position: relative;
    margin: auto;
    justify-content: center;
    top: -350px;
    left: -5px;
    border: 2px solid #aaaaaa;
    width: 1100px;
    height: 600px;
    overflow: hidden;
}
.carrusel p:first-child .fa-arrow-left{
    position: absolute;
    background-color: #0000004e;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 300px;
    left: 10px;
    cursor: pointer;
    font-size: 20px;
    z-index: 1;
}
.carrusel p:first-child:hover .fa-arrow-left{
    background-color: #ff00008e;
    color: #FFFFFF;
}
.carrusel p:nth-child(2) .fa-arrow-right{
    position: absolute;
    background-color: #0000004e;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 300px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    z-index: 1;
}
.carrusel p:nth-child(2):hover .fa-arrow-right { 
    background-color: #ff00008e;
    color: #FFFFFF;
}

.carrusel .imagen{
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
}
section{
    position: relative;
    top: -300px;
    width: 1600px;
    height: 600px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 300px);
    margin: 50px auto;
    gap: 5px;
    overflow-x: hidden;
}
section .titulo{
    position: absolute;
    font-weight: 550;
    left: 675px;
    text-align: center;
    margin: auto;
    letter-spacing: 2px;
    border-bottom: 3px solid #e90000;
    font-size: 20px;
    text-transform: uppercase;
    font-family: var(--YanoneKaffeesatz);
}
.promociones{
    position: relative;
    display: flex;
    justify-content: center;
    top: 0px;
    margin: auto;
    width: 260px;
    height: 370px;
    left: 180px;
    border-radius: 20px;
    box-shadow: 1px 2px 20px 5px #00000090;
}
.promociones:hover{
    box-shadow: 1px 2px 20px 5px #000000;
    transform: scale(1.05);   
    transition: all .2s linear;
}
.promociones div:nth-child(1) p:nth-child(1){
    position: absolute;
    width: 35px;
    height: 17px;
    border: none;
    top: 15px;
    padding-left: 10px;
    padding-top: 2px;
    border-radius: 2px;
    left: 15px;
    font-size: 12px;
    background-color: #FF9F23;
}
.promociones div:nth-child(1) img{
    position: absolute;
    top: 35px;
    left: 16px;
    width: 220px;
    height: 200px;
}
.promociones .precios{
    position: absolute;
    display: flex;
    left: 0px;
    top: 230px;
}
div:nth-child(1) .precios p:nth-child(1){
    position: absolute;
    font-size: 18px;
    background-color: #FF9F23;
    width: 70px;
    height: 20px;
    border-radius: 4px;
    left: 20px;
    font-family: var(--YanoneKaffeesatz);
}

div:nth-child(1) .precios p:nth-child(1) small{
    position: absolute;
    left: 150px;
    top: 4px;
    color: #aaaaaa;
    font-size: 10px;
    font-family: var(--YanoneKaffeesatz);
}
div:nth-child(1) .precios p:nth-child(2){
    position: absolute;
    top: 40px;
    width: 200px;
    border: none;
    left: 20px;
    font-size: 14px;
    font-family: var(--YanoneKaffeesatz);
    text-transform: capitalize;
}
div:nth-child(1) .precios p:nth-child(3){
    position: absolute;
    display: block;
    top: 70px;
    font-size: 14px;
    display: inline-flex;
    width: 290px;
    left: 20px;
    color: #aaaaaa;
    font-weight: normal;
}
.precios button{
    position: absolute;
    left: 120px;
    top: 100px;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: #FF9F23;
    border: none;
}
.precios button a{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 545;
    padding-left: 12px;
    font-family: var(--YanoneKaffeesatz);
}
.precios button i{
    color: #FFFFFF;
    font-size: 15px;
}
.ofertas{
    position: absolute;
    display: block;
    left: 223px;
    top: 550px;
    border-top: 5px solid #e90000;
    width: 1180px;
}
.ofertas a{
    position: absolute;
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    font-family: var(--YanoneKaffeesatz);
    text-transform: uppercase;
    font-weight: bold;
    height: 70px;
    left: 480px;
}
.ofertas i{
    position: absolute;
    top: 40px;
    left: 80px;
    font-size: 30px;
    margin: auto;
    transform: rotate(90deg);
    color: #FF9F23;
    cursor: pointer;
}
footer{
    position: relative;
    top: -90px;
    height: 250px;
    width: 100%;
    height: 400px;
    background-color: #D2D2D2;
    overflow: hidden; 
}
footer button{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 60px;
    top: 100px;
    font-size: 40px;
    font-weight: normal;
    border: none;
    border-radius: 5px;
    color: #e90000;
    cursor: pointer;
    box-shadow: 0px 0px 15px 0px #000000;
}
footer > p{
    position: absolute;
    top:348px;
    right: 100px;
    font-weight: bold;
    font-family: var(--YanoneKaffeesatz);
}
footer > p i{
    position: relative;
    color: #FF9F23;
    font-size: 28px;
    top: 5px;
}

.emerguente{
    position: absolute;
    box-shadow: 0px 1px 10px 0px #000000;
    border-radius: 5px;
    background-color: #FFFFFF;
    width: 300px;
    height: 150px;
    top: 250px;
    left: 50px;
    opacity: 0;
    transition: all .2s ease-in;
    z-index: 1;
}
.emerguente.active{
    opacity: 1;
    left: 55px;
    top: 0px;
}
.emerguente .fa-circle-xmark{
    position: absolute;
    font-size: 23px;
    right: 10px;
    top: 10px;
    cursor: pointer;
}
footer button .emerguente .ayuda{
    position: absolute;
    font-size: 18px;
    font-family: var(--YanoneKaffeesatz);
    color: #000000;
    left: 5px;
    top: 30px;
    width: 330px;
    letter-spacing: 1px;
    padding-left: 0px;
    display: flex;
}
footer button .emerguente .ayuda a{
    position: absolute;
    padding-left: 50px;
    text-decoration: none;
    color: #000000;
    left: 30px; 
}
footer button .emerguente .ayuda i{
    position: absolute;
    color: #e90000 ;
    left: 0;
font-size: 35px
}
footer button .emerguente .ayuda2{
    position: absolute;
    font-size: 18px;
    font-family: var(--YanoneKaffeesatz);
    color: #000000;
    left: 5px;
    top: 20px;
    display: flex;
    width: 350px;
    padding-left: 30px;
    margin-top: 80px;
}
footer button .emerguente .ayuda2 a{
    position: absolute;
    padding-left: 50px;
    text-decoration: none;
    color: #000000;
    left: 30px; 
}
footer button .emerguente .ayuda2 i{
    position: absolute;
    color: #e90000 ;
    left: 0;
    font-size: 35px
}
.dir{
    position: absolute;
    top: 100px;
    right: 850px;
    text-align: center;
    line-height: 50px;
    font-family: var(--YanoneKaffeesatz);
    font-weight: normal;
    margin: auto;
}
footer span{
    position: absolute;
    top: 280px;
    left: 20px;
    font-size: 45px;
    color: #e90000;
}
footer span i{
    padding-left: 24px;
}
footer .logo-footer{
    position: absolute;
    right: 155px;
    top: 240px;
}
/* Css de carrito de compras */

.carrito{
    border: 1px solid #000000;
    width: 380px;
    height: auto;
    position: relative;
    border-radius: 10px;
    top: 150px;
    right: 0px;
    z-index: 6;
    margin-bottom: auto;
    position: absolute;
    transition: all .4s linear;
    overflow: hidden;
    background-color: #FFFFFF;
}
.carrito .header-carrito{
    background-color: #e90000;
    color: #FFFFFF;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carrito .header-carrito i{
    right: 20px;
}
.carrito .carrito-item img{
    margin-right: 50px;
}
.carrito .carrito-item{
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #000000;
    padding: 15px;
}
.carrito .carrito-item .carrito-item-titulo{
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.carrito .carrito-item .selector-cantidad{
    display: inline-block;
    margin-right: 15px;
}
.carrito .carrito-item .carrito-item-cantidad{
    border: none;
    background: transparent;
    width: 30px;
    display: inline-block;
    padding: 5px;
    text-align: center;
}
.carrito .carrito-item .selector-cantidad i{
    font-size: 20px;
    width: 32px;
    height: 32px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000000;
    line-height: 32px;
    cursor: pointer;
}
.carrito .carrito-item .selector-cantidad i:hover{
    transform: scale(1.04);
}
.carrito .carrito-item .carrito-item-precio{
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 5px;
}
.carrito .carrito-item .btn-eliminar{
    position: absolute;
    right: 20px;
    top: 20px;
    border:  1px solid #000000;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}
.carrito .carrito-item .btn-eliminar:hover{
    transform: scale(1.04);
    color: #FF9F23;
}
.carrito .carrito-item .btn-eliminar i{
    pointer-events: none;
}
.carrito-total{
    padding: 30px;
}
.carrito-total .fila{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.carrito-total .btn-pagar{
    display: block;
    border: none;
    width: 100%;
    background-color:#FF9F23 ;
    border-radius: 10px;
    padding: 20px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.carrito-total .btn-pagar:hover{
    background-color: #ff9102;
    transform: scale(1.02);
}
/* modo entrega */
.modo-entrega{
    position: absolute;
    background-color: #FFFFFF;
    opacity: 0.2;
    left: 550px;
    width: 380px;
    overflow: hidden;
    height: 450px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 10px #000000;
}
#modo-entrega{
    top: -450px;
    opacity:0;
    transition: all .4s linear;
}
#modo-entrega.active{
    top: 150px;
    opacity: 1;
}
.modo-entrega .fa-circle-xmark{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 22px;
    cursor: pointer;
}
.modo-entrega .header-titulo{
    background-color: #e90000;
    color: #FFFFFF;
    display: flex;
    font-size: 12px;
    margin-left: -80px;
    justify-content: center;
    align-items: center;
    height: 70px;
}
.modo-entrega .opc-modo-entrega{
    display: flex;
    width: 390px;
    height: 360px;
    border-radius: 10px;
    justify-content: space-around;
    padding-left: 0px;
    border-radius: 10px;
}
.modo-entrega .opc-modo-entrega .recoger-tienda{
    width: 120;
    margin-top: 40px;
    margin-left: -10px;
    box-shadow: 0px 0px 10px #000000;
    border-radius: 10px;
    cursor: pointer;
}
.modo-entrega .opc-modo-entrega .recoger-tienda:hover{
    transform: scale(1.02);
}
.modo-entrega .opc-modo-entrega .recoger-tienda img{
    position: relative;
    padding-left: -130px;
    width: 160px;
    height: 200px;
}
.modo-entrega .opc-modo-entrega .recoger-tienda p{
    position: relative;
    width: 160px;
    left: 25px;
    font-weight: bold;
    font-family: var(--YanoneKaffeesatz);
    font-size: 17px;
    top: 30px;

}
.modo-entrega .opc-modo-entrega .recoger-domicilio{
    width: 120;
    height: 320px;
    margin-left: -20px;
    margin-top: 40px;
    box-shadow: 0px 0px 10px #000000;
    border-radius: 10px;
    cursor: pointer;
}
.modo-entrega .opc-modo-entrega .recoger-domicilio:hover{
    transform:scale(1.02) ;
}
.modo-entrega .opc-modo-entrega .recoger-domicilio p{
    position: relative;
    width: 160px;
    left: 25px;
    font-weight: bold;
    font-family: var(--YanoneKaffeesatz);
    font-size: 17px;
    top: 30px; 
}
.modo-entrega .opc-modo-entrega .recoger-domicilio img{
    width: 180px;
    height: 200px;
}
/* verificar correo */
.verificar{
    position: absolute;
    top: 350px;
    width: 450px;
    height: 220px;
    box-shadow: 0px 0px 10px #000000;
    z-index: 4;
    background-color: #FFFFFF;
    left:550px;
}
#verificar{
    display: none;
}
.verificar.active{
    opacity: 1;
    top: 350px;
}
.verificar .header-titulo{
    background-color: #e90000;
    color: #FFFFFF;
    height: 60px;
    padding: 15px 10px;
    font-size: 20px;
    text-transform: capitalize;
}
.verificar p{
    font-size: 13px;
    padding: 20px 25px;
}
.verificar div{
    display: flex;
    position: relative;
    padding: 30px 20px;
    justify-content: space-between;
}
.verificar div input{
    height: 40px;
    width: 300px;
    border: 2px solid #000000;
    border-radius: 5px;
    outline: none;
    padding: 0px 30px ;
}
.verificar div input::placeholder{
    font-size: 14px;
}
.verificar div i{
    position: absolute;
    font-size: 25px;
    padding: 7px 5px;
}
.verificar div .btn-verificar{
    background-color: #FF9F23;
    border: none;
    height: 40px;
    width: 90px;
    border-radius: 10px;
}
.verificar div .btn-verificar a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 17px;
}

.verificar{
    position: absolute;
    top: 350px;
    width: 450px;
    height: 220px;
    box-shadow: 0px 0px 10px #000000;
    z-index: 10;
    background-color: #FFFFFF;
    left:550px;
}
#verificar{
    display: none;
}
.verificar.active{
    opacity: 1;
    top: 350px;
}
.verificar .header-titulo{
    background-color: #e90000;
    color: #FFFFFF;
    height: 60px;
    padding: 15px 10px;
    font-size: 20px;
    text-transform: capitalize;
}
.verificar p{
    font-size: 13px;
    padding: 20px 25px;
}
.verificar div{
    display: flex;
    position: relative;
    padding: 30px 20px;
    justify-content: space-between;
}
.verificar div input{
    height: 40px;
    width: 300px;
    border: 2px solid #000000;
    border-radius: 5px;
    outline: none;
    padding: 0px 30px ;
}
.verificar div input::placeholder{
    font-size: 14px;
}
.verificar div i{
    position: absolute;
    font-size: 25px;
    padding: 7px 5px;
}
.verificar div .btn-verificar{
    background-color: #FF9F23;
    border: none;
    height: 40px;
    width: 90px;
    border-radius: 10px;
}
.verificar div .btn-verificar a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 17px;
}
/* donde te encuentras */
.donde-encuentras{
    position: absolute;
    width: 650px;
    height: 390px;
    box-shadow: 0px 0px 10px inset;
    background-color: #FFFFFF;
    top: 150px;
    left: 500px;
    border: 1px solid #000000;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: all .3s linear;
}
#donde-encuentras{
    top: -350px;
    opacity: 0;
}
#donde-encuentras.active{
    top: 150px;
    opacity: 1;
}
.donde-encuentras .header-titulo{
    background-color: #e90000;
    height: 70px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.donde-encuentras .contenido{
    position: relative;
    display: inline-block;
    top: -20px;
    padding: 0px -50px;
    color: #000000;
    line-height: 35px;
    margin: 20px;
}
.donde-encuentras .contenido p{
    font-size: 15px;
    margin: 10px 0px 10px 0px;
}
.formulario-dir{
    display: inline-block;
}
.formulario-dir label{
    font-weight: bold;
    font-size: 14px;
}
.formulario-dir input{
    height: 30px;
    border-radius: 5px;
}
.formulario-dir .barrio{
    display: block;
}
.formulario-dir .barrio input{
    width: 100%;
    height: 30px;
    padding: 0 10px;
}
.formulario-dir .direccion{
    position: relative;
    top: 20px;
    padding: 0 0px;
    display: inline-block;
}
.formulario-dir .direccion select{
    width: 90px;
    height: 30px;
    border-radius: 5px;
}
.formulario-dir .direccion input[type="number"]{
    width: 70px;
}
.formulario-dir .textarea{
    display: inline-block;
    position: relative;
    top: 20px;
}
.formulario-dir .textarea textarea{
    position: relative;
    top: 20px;
    height: 50px;
    width: 520px;
    padding: 10px 0;
}
.formulario-dir .textarea textarea::placeholder{
    font-size: 15px;
}
.donde-encuentras .contenido .btn-guardar{
    position: relative;
    top: 40px;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    background: #FF9F23;
    border: none;
    cursor: pointer;
}
.donde-encuentras .contenido .btn-guardar a{
    font-size: 17px;
    color: #FFFFFF;
    text-decoration: none;
}
/* Seguir comprando */

.cuadro-seguir{
    position: absolute;
    top: 850px;
    width: 450px;
    height: 550px;
    box-shadow: 0px 0px 20px #000000;
    background-color: #FFFFFF;
    left:600px;
    border-radius: 10px;
    transition: all .3s linear;
}
#cuadro-seguir{
    top: -600px;
    opacity: 1;
}
#cuadro-seguir.active{
    opacity: 1;
    top: 200px;
    transition: all .3s linear;
    z-index: 5;
}
.cuadro-seguir .fa-circle-check{
    font-size: 215px;
    color: #e90000;
    padding: 35px 112px;
}
.cuadro-seguir h3{
    text-align: center;
    font-size: 20px;
}
.cuadro-seguir .btn-seguir{
    background-color: #FF9F23;
    border: none;
    width: 140px;
    height: 40px;
    border-radius: 8px;
    position: absolute;
    left: 150px;
    top: 400px;
}
.cuadro-seguir .btn-seguir a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;

}
/* seccion responsive */
@media screen and (max-width:1000px){

    section{
        display: block;
        top: -250px;
        display: grid;
        grid-template-columns: repeat(2, 280px);
        grid-template-rows: repeat(1, -200px);
        grid-area: 20px;
        margin-left: 200px;
        
    }
    .promociones{
        margin-bottom: 20px;
        width: 250px;
        height: 380px;
    }
}
@media screen and (max-width:1900px) {
    .container{
        width: 100%;
    }
    .navegacion{
        width: 100%;
    }
    header{
        width: 100%;
    }
}
@media screen and (max-width:1600px) {
    .container{
        width: 100%;
    }
    .navegacion{
        width: 100%;
    }
    .carrusel{
        width: 980px;
        margin-left: 250px;
    }
    header{
        width: 100%;
    }
}
@media screen and (max-width:800px) {
    .container{
        width: 100%;
    }
    header{
        width: 100%;
    }
    .navegacion{
        width: 100%;
    }
    .carrusel{
        width: 600px;
        height: 300px;
    }
    .navegacion .fa-bars{
        left: 20px;
        font-size: 30px;
    }
    .navegacion p a img{
        width: 100px;
        height: 50px;
        top: 0px;
        left: 60px;
    }
    .navegacion input{
        width: 180px;
        left: 270px;
    }
    .navegacion .carro{
        left: -750px;
    }
    .navegacion .cuenta{
        left: -760px;
    }

}