@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-3);
}
:root{
    --color1: #e90000;
    --color-2: #D2D2D2; 
    --color-3: #777777;  
    --color-4: black; 
    --color-5: white;
    --color-6: #FF9F23;
    --font-1: "Open Sans", sans-serif;
    --font-2: "Yanone Kaffeesatz", sans-serif;
    --font-3: 'Poppins', sans-serif;
}

a:link{
    color: black;
}
/* Header */

/* Header Top */
.header-top{
    background: var(--color-2);
    display: flex;
    justify-content: space-between;
    width: 100%;
}


/* icons*/

.wrapper .button{
  display: inline-block;
  height: 60px;
  width: 30px;
  float: left;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  /* transition: all 0.3s ease-out; */
}
.wrapper .button:hover{
  width: 100px;
}
.wrapper .button .icon{
  display: inline-block;
  height: 50px;
  width: 20px;
  margin-right: 20px;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 90px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1):hover .icon{
  background: #4267B2;
}
.wrapper .button:nth-child(2):hover .icon{
  background: #1DA1F2;
}
.wrapper .button:nth-child(3):hover .icon{
  background: #E1306C;
}
.wrapper .button:nth-child(4):hover .icon{
  background: #333;
}
.wrapper .button:nth-child(5):hover .icon{
  background: #ff0000;
}
.wrapper .button .icon i{
  font-size: 15px;
  line-height: 40px;
  transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon i{
  color: #fff;
}
.wrapper .button span{
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1) span{
  color: #4267B2;
}
.wrapper .button:nth-child(2) span{
  color: #1DA1F2;
}
.wrapper .button:nth-child(3) span{
  color: #E1306C;
}
.wrapper .button:nth-child(4) span{
  color: #333;
}
.wrapper .button:nth-child(5) span{
  color: #ff0000;
}

/* icons fin */

.header-top .logo img{
    width: 0px;
    height: 0px;
}

/* logo index */

.logoPrincipal img{
    width: 270px;
    height: 55px;
    margin-left: -130px;
}


/* Header Bottom */

.header-bottom{
    display: grid;
    grid-template-columns: 19% 0% 50% 30%;
    align-items: center;
    justify-content: center;
    background: var(--color1);
    padding-top: 10px;
    width: 100%;
    padding-bottom: 10px;
}

.header-bottom .icon-menu{
    margin-left: 34%;
    transform: translateX(-50%);
    font-size: 35px;
    cursor: pointer;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.header-bottom .logo .logoPrincipal img{
    display: none;
}

/* Icon Menu */

.icon-menu {
    color: var(--color-5);
    display: flex;
    justify-content: center;
}

/* Search */

.search{
    margin-left: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search #search-bar input{
    width: 550px;
    border-radius: 10px;
    color: var(--color-3);
    padding: 8px 5px 8px 5px ;
    font-family: var(--font-3);
    font-size: 15px;
    border: none;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

/* Other Services */

.search .other-services {
    display: flex;
    margin-top: 10px;
    gap: 15px;
    padding-bottom: 10px;
}

.search .other-services a {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-5);
    color: var(--color-4);
    text-decoration: none;
    padding: 7px;
    overflow: hidden;
    border-radius: 10px;
    /* transition: width 0.8s ease; */
    cursor: pointer;
}
.search .other-services a .link-text{
    display: block;
    font-family: var(--font-3);
    font-size: 10px;
    margin-left: 10px;
}

/* .search .other-services a:hover {
    width: 100%;
}

.search .other-services a:hover .link-text{
    transition: 2s ease;
    display: block;
} */




/* Services */

.services{
    display: grid;
    grid-template-columns: 40% 40%;
    gap: 10%;
}

.services > a{
    display: flex;
    height: 50%;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-1);
    color: var(--color-5);
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
.services > a > p{
    margin-top: 10px;
    margin-left: 30%;
    font-size: 14px;
    font-family: var(--font-3);
}

.services > a > i{
    font-size: 30px;
    margin-left: 30%;
}
.cuenta .fa-circle-user {
    position: relative;
    left: 30px;
    top: 0px;
    font-size: 30px;
    color: #FFFFFF;
}

.li-2 {
    position: absolute;
    list-style: none;
    left: 1300px;
    top: 84px;
    display: inline-block;
    font-size: 16px;
    z-index: 1;
}

.li-2 a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: var(--YanoneKaffeesatz);
    font-size: 14px;
}
/* SECCION RESPONSIVE */
@media screen and (max-width: 1600px){

    .cuenta .fa-circle-user {
        position: relative;
        left: 30px;
        top: 0px;
        font-size: 30px;
        color: #FFFFFF;
    }
    
    .li-2 {
        position: absolute;
        list-style: none;
        left: 1300px;
        top: 85px;
        z-index: 1;
    }
    
    .li-2 a {
        text-decoration: none;
        color: #FFFFFF;
        font-size: 14px;
    }

}
/* Media query para dispositivos medianos */
@media screen and (max-width: 1440px) {

    .logoPrincipal img{
        width: 270px;
        height: 60px;
        margin-left: -130px;
    }
    .header-top .logo img {
        width: 0px;
        height: 0px;
    }
    #menu{
        position: absolute;
        top: 17%;
        width: 16%;
        height: 450px;
        z-index: 999;
    }
    #menu ul{
        padding: 0 20px;
        
    }
    .carrito{
        width: 30%;
        top: 120.5px;
    }
    /* .search #search-bar input{
        width: 500px;
    } */
    .slider{
        margin-top: 400px;
        width: 87%;
        height: 750px;
    }
    .cuenta .fa-circle-user {
        position: relative;
        left: 30px;
        top: 0px;
        font-size: 30px;
        color: #FFFFFF;
    }
    
    .li-2 {
        position: absolute;
        list-style: none;
        left: 1225px;
        display: inline-block;
        top: 85px;
        z-index: 1;
    }
    
    .li-2 a {
        text-decoration: none;
        color: #FFFFFF;
        font-family: var(--YanoneKaffeesatz);
        font-size: 14px;
    }

}

/* Media query para dispositivos medianos */
@media screen and  (max-width: 1024px) {
  body {
    font-size: 14px;
  }
    .logoPrincipal img{
        width: 200px;
        height: 50px;
        margin-left: -80px;
    }
    #menu{
        position: absolute;
        top: 20.2%;
        width: 23%;
        height: 450px;
        z-index: 999;
    }
    #menu ul{
        padding: 0 20px;
        
    }
    .fa-xmark{
        right: 0;
        top: 5px;
    }
    .services > a{
        display: flex;
        height: 50%;
        flex-direction: column;
        align-items: center;
        font-family: var(--font-1);
        color: var(--color-5);
        font-size: 18px;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
    }
    .services > a > p{
        margin-left: 30%;
        font-size: 14px;
        font-family: var(--font-3);
    }
    .search .other-services {
        display: flex;
        margin-top: 10px;
        gap: 15px;
        padding-bottom: 10px;
        margin-left: 30%;
    }
    .search #search-bar input{
        width: 180%;
    }
    .search{
        margin-left: -5%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .services{
        display: grid;
        grid-template-columns: 40% 40%;
        gap: 10%;
        margin-top: 5%;
        margin-left: -15%;
    }
    .carrito{
        width: 35%;
        top: 124px;
    }
    .slider{
        margin-top: 400px;
        width: 83%;
        height: 500px;
    }
    .cuenta .fa-circle-user {
        position: relative;
        left: 30px;
        top: 0px;
        font-size: 30px;
        color: #FFFFFF;
    }
    
    .li-2 {
        position: absolute;
        list-style: none;
        left: 850px;
        top: 90px;
        z-index: 1;
    }
    
    .li-2 a {
        text-decoration: none;
        color: #FFFFFF;
        font-family: var(--YanoneKaffeesatz);
        font-size: 14px;
    }
}

/* Media query para dispositivos pequeños */
@media screen and  (max-width: 768px) {
    .logoPrincipal img{
        width: 0px;
        height: 0px;
    }
    .header-top .logo img {
        width: 185px;
        height: 35px;
        padding-right: 50px;
        padding-top: 2px;
    }
    #menu{
        position: absolute;
        top: 21.5%;
        width: 30%;
        height: 450px;
        z-index: 999;
    }
    #menu ul{
        padding: 0 20px;
    }
    .fa-xmark{
        right: 0;
        top: 5px;
    }
    .search #search-bar input{
        width: 400px;
    }
    .search .other-services {
        display: flex;
        margin-top: 10px;
        gap: 15px;
        padding-bottom: 10px;
        margin-left: 0%;
    }
    .carrito{
        width: 45%;
        top: 131px;
    }
    .services > a{
        display: flex;
        height: 50%;
        flex-direction: column;
        align-items: center;
        font-family: var(--font-1);
        color: var(--color-5);
        font-size: 18px;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
    }
    .services > a > p{
        margin-left: 30%;
        font-size: 14px;
        font-family: var(--font-3);
    }
    .search #search-bar input{
        width: 350px;
    }
    .search{
        margin-left: -20%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .services{
        display: grid;
        grid-template-columns: 40% 40%;
        gap: 10%;
        margin-top: 5%;
        margin-left: -20%;
    }
    .slider{
        margin-top: 400px;
        width: 87%;
        height: 400px;
    }
    .cuenta .fa-circle-user {
        position: relative;
        left: 30px;
        top: 0px;
        font-size: 30px;
        color: #FFFFFF;
    }
    
    .li-2 {
        position: absolute;
        list-style: none;
        left: 640px;
        top: 106px;
        z-index: 1;
    }
    
    .li-2 a {
        text-decoration: none;
        color: #FFFFFF;
        font-family: var(--YanoneKaffeesatz);
        font-size: 14px;
    }
}

/* Media query para dispositivos extra pequeños */
@media screen and  (max-width: 426px) {
    .social-networks {
    text-align: center;
    }
    .slider{
        margin-top: 400px;
        width: 80%;
        height: 200px;
    }
    .slider .list img{
        width: 100%;
    }

    .logoPrincipal img{
        width: 0px;
        height: 0px;
        display: none;
    }
    .header-top .logo img {
        width: 190px;
        height: 40px;
        padding: 5px 40px;
    }
    #menu{
        position: absolute;
        width: 54%;
        height: 450px;
        top: 24.4%;
        z-index: 999;
    }
    #menu ul{
        padding: 0 20px;
    }
    .services > a{
        display: flex;
        height: 50%;
        flex-direction: column;
        align-items: center;
        font-family: var(--font-1);
        color: var(--color-5);
        font-size: 18px;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
    }
    .services > a > p{
        margin-left: -30%;
        font-size: 14px;
        font-family: var(--font-3);
    }
    .search #search-bar input{
        width: auto;
    }
    .search{
        margin-left: -10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .search .other-services {
        display: flex;
        margin-top: 10px;
        gap: 15px;
        padding-bottom: 10px;
        margin-left: 0%;
    }
    .services{
        display: grid;
        grid-template-columns: 30% 30%;
        gap: 20%;
        margin-top: 0%;
        margin-left: 5%
    }
    .carro:hover #texto-carrito {
        display: none;
    }
    #texto-carrito {
        display: none;
    }
    .carrito{
        width: 65%;
        top: 150px;
    }
}
/* termina seccion responsive */