/* Global Configuration */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-3);
}
:root{
    --color1: #e90000;
    --color-2: #D2D2D2; 
    --color-3: #777777;  
    --color-4: black; 
    --color-5: white;
    --color-6: #FF9F23;
    --font-1: "Open Sans", sans-serif;
    --font-2: "Yanone Kaffeesatz", sans-serif;
    --font-3: 'Poppins', sans-serif;
}

a:link{
    color: black;
}

:root {
    --Caveat: "Caveat", cursive;
    --YanoneKaffeesatz: "Yanone Kaffeesatz", sans-serif;
    --OpenSans: "Open Sans", sans-serif;    
}
.container{
    position: relative;
    max-width: 1600px;
    height: 100vh;
    margin: auto; 
}

/* Header Top */
.header-top{
    background: var(--color-2);
    display: flex;
    justify-content: space-between;
}

.header-top .social-networks{
    padding: 10px;
    display: flex;
}

.header-top .social-networks a {
    color: var(--color-3);
    margin-left: 40%;
}

.header-top .social-networks a:hover{
    color: var(--color-4);
}


.header-top .logo img{
    width: 155px;
    height: 30px;
    padding-right: 50px;
    padding-top: 5px;
}
/* Carrucel de imagenes */
.carousel-image {
    height: 750px;
}

/* Header Bottom */

.header-bottom{
    display: grid;
    grid-template-columns: 19% 0% 50% 30%;
    align-items: center;
    justify-content: center;
    background: var(--color1);
    padding-top: 10px;
    padding-bottom: 10px;
}

.header-bottom .icon-menu{
    margin-left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.header-bottom .logo img{
    display: none;
}

/* Icon Menu */

.icon-menu {
    color: var(--color-5);
    display: flex;
    justify-content: center;
}

/* Search */

.search{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search #search-bar input{
    border-radius: 10px;
    color: var(--color-3);
    padding: 8px 5px 8px 5px ;
    font-family: var(--font-3);
    font-size: 15px;
    border: none;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

/* Other Services */

.search .other-services {
    display: flex;
    margin-top: 10px;
    gap: 15px;
    padding-bottom: 10px;
}

.search .other-services a {
    width: 50%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-5);
    color: var(--color-4);
    text-decoration: none;
    padding: 7px;
    overflow: hidden;
    border-radius: 10px;
    transition: width 0.8s ease;
    cursor: pointer;
}
.search .other-services a .link-text{
    display: none;
    font-family: var(--font-3);
    font-size: 10px;
    margin-left: 5px;
}

.search .other-services a:hover {
    width: 100%;
}

.search .other-services a:hover .link-text{
    transition: 2s ease;
    display: block;
}




/* Services */

.services{
    display: grid;
    grid-template-columns: 40% 40%;
    gap: 10%;

}

.services > a{
    display: flex;
    height: 50%;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-1);
    color: var(--color-5);
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: height 0.3s ease ;
}
.services > a:hover{
    height: 100%;
}

.services > a:hover p{
    display: block;
    transition: 3s ease;
}

.services > a > p{
    margin-top: 10px;
    font-size: 14px;
    font-family: var(--font-3);
    display: none;
}

.services > a > i{
    font-size: 30px;
    height: 50%;
}

.quienes-somos{
    position: absolute;
    top: 950px;
    width: 1600px;
    border-top: 2px solid #777777;

}

.quienes-somos p{
    position: absolute;
    text-align: center;
    top: 100px;
    right: 300px;
    color: #000000;
    font-size: 30px;
    text-transform: capitalize;
    font-family: var(--YanoneKaffeesatz);
}
.quienes-somos p span{
    position: absolute;
    color: #FF9F23;
    left: 65px;
    font-size: 60px;
    letter-spacing: 1px;
}
.quienes-somos div{
position: absolute;
left: 120px;
width: 1000px;
height: 400px;
top: 550px;
color: #000000;
z-index: 999;
}
.quienes-somos div h1{
    position: absolute;
    color: #e90000;
    font-size: 30px;
    font-family: var(--YanoneKaffeesatz);
}
.quienes-somos div p{
    position: absolute;
    display: inline-block;
    width: 980px;
    text-align: justify;
    line-height: 30px;
    top: 60px;
    left: 10px;
    color: #000000;
    font-size: 18px;
    font-family: var(--YanoneKaffeesatz);
    text-transform: none;
}
aside{
    position: relative;
    margin: auto;
    left: 0px;
    top: 660px;
    display: grid;
    grid-template-columns: repeat(2, 400px);
    grid-template-rows: repeat(2, 200px);
    gap: 250px;
    width: 1600px;
    height: 400px
}
aside .mision{
    position: relative;
    top: 40px;
    width: 550px;
    height: 320px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 1px 2px 20px 4px #00000082;
}
aside .mision h2{
    position: absolute;
    color: #FF9F23;
    font-size: 30px;
    font-family: var(--YanoneKaffeesatz);
    font-weight: bold;
    display: block;
    left: 35px;
    top: 40px;
}
aside .mision p{
    position: absolute;
    top: 90px;
    left: 35px;
    width: 450px;
    font-family: var(--YanoneKaffeesatz);
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    text-transform: none;
}
aside .vision{
    position: relative;
    top: 40px;
    width: 550px;
    height: 320px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 1px 2px 20px 4px #00000082;
}
aside .vision h2{
    position: absolute;
    color: #FF9F23;
    font-size: 30px;
    font-family: var(--YanoneKaffeesatz);
    font-weight: bold;
    display: block;
    left: 35px;
    top: 40px;
}
aside .vision p{
    position: absolute;
    top: 90px;
    left: 35px;
    width: 470px;
    font-family: var(--YanoneKaffeesatz);
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    text-transform: none;
}
/*Aquí debajo va el FOOTER*/

footer{
    width: 100%;
    padding: 50px 0px;
    background-image: url('../imagenes/background-footer.svg');
    background-size: cover;
    
    /*background-color: #d0f0f8;
    -webkit-mask-image: url("../Images/background-footer.svg");
    mask-image: url("../Images/background-footer.svg");
    -webkit-mask-size: cover;
    mask-size: cover;*/
}

.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 35px;
}

.box__footer .logo img{
    width: 180px;
}

.box__footer .terms{
    max-width: 330px;
    margin-top: 20px;
    font-weight: 500;
    color: #7a7a7a;
    font-size: 18px;
}

.box__footer h2{
    margin-bottom: 30px;
    color: #343434;
    font-weight: 700;
}

.box__footer a{
    margin-top: 10px;
    color: #7a7a7a;
    font-weight: 600;
}

.box__footer a:hover{
    opacity: 0.8;
}

.box__footer a .fab{
    font-size: 20px;
}

.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p{
    margin-top: 20px;
    color: #7a7a7a;
}

.box__copyright hr{
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}
/*Aquí termina el FOOTER*/

.emerguente{
    position: absolute;
    box-shadow: 0px 1px 10px 0px #000000;
    border-radius: 5px;
    background-color: #FFFFFF;
    width: 300px;
    height: 150px;
    top: 250px;
    left: 50px;
    opacity: 0;
    transition: all .2s ease-in;
    z-index: 1;
}
.emerguente.active{
    opacity: 1;
    left: 55px;
    top: 0px;
}
.emerguente .fa-circle-xmark{
    position: absolute;
    font-size: 23px;
    right: 10px;
    top: 10px;
    cursor: pointer;
}
footer button .emerguente .ayuda{
    position: absolute;
    font-size: 18px;
    font-family: var(--YanoneKaffeesatz);
    color: #000000;
    left: 5px;
    top: 30px;
    width: 330px;
    letter-spacing: 1px;
    padding-left: 0px;
    display: flex;
}
footer button .emerguente .ayuda a{
    position: absolute;
    padding-left: 50px;
    text-decoration: none;
    color: #000000;
    left: 30px; 
}
footer button .emerguente .ayuda i{
    position: absolute;
    color: #e90000 ;
    left: 0;
font-size: 35px
}
footer button .emerguente .ayuda2{
    position: absolute;
    font-size: 18px;
    font-family: var(--YanoneKaffeesatz);
    color: #000000;
    left: 5px;
    top: 20px;
    display: flex;
    width: 350px;
    padding-left: 30px;
    margin-top: 80px;
}
footer button .emerguente .ayuda2 a{
    position: absolute;
    padding-left: 50px;
    text-decoration: none;
    color: #000000;
    left: 30px; 
}
footer button .emerguente .ayuda2 i{
    position: absolute;
    color: #e90000 ;
    left: 0;
    font-size: 35px
}
.dir{
    position: absolute;
    top: 30px;
    right: 600px;
    text-align: center;
    line-height: 40px;
    font-family: var(--YanoneKaffeesatz);
    font-weight: normal;
}
footer span{
    position: absolute;
    top: 180px;
    left: 20px;
    font-size: 45px;
    color: #e90000;
}
footer span i{
    padding-left: 14px;
}
/* modo entrega */
.modo-entrega{
    position: absolute;
    background-color: #FFFFFF;
    opacity: 0.2;
    left: 550px;
    width: 380px;
    overflow: hidden;
    height: 450px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 10px #000000;
}
#modo-entrega{
    top: -450px;
    opacity:0;
    transition: all .4s linear;
}
#modo-entrega.active{
    top: 150px;
    opacity: 1;
}
.modo-entrega .fa-circle-xmark{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 22px;
    cursor: pointer;
}
.modo-entrega .header-titulo{
    background-color: #e90000;
    color: #FFFFFF;
    display: flex;
    font-size: 12px;
    margin-left: -80px;
    justify-content: center;
    align-items: center;
    height: 70px;
}
.modo-entrega .opc-modo-entrega{
    display: flex;
    width: 390px;
    height: 360px;
    border-radius: 10px;
    justify-content: space-around;
    padding-left: 0px;
    border-radius: 10px;
}
.modo-entrega .opc-modo-entrega .recoger-tienda{
    width: 120;
    margin-top: 40px;
    margin-left: -10px;
    box-shadow: 0px 0px 10px #000000;
    border-radius: 10px;
    cursor: pointer;
}
.modo-entrega .opc-modo-entrega .recoger-tienda:hover{
    transform: scale(1.02);
}
.modo-entrega .opc-modo-entrega .recoger-tienda img{
    position: relative;
    padding-left: -130px;
    width: 160px;
    height: 200px;
}
.modo-entrega .opc-modo-entrega .recoger-tienda p{
    position: relative;
    width: 160px;
    left: 25px;
    font-weight: bold;
    font-family: var(--YanoneKaffeesatz);
    font-size: 17px;
    top: 30px;

}
.modo-entrega .opc-modo-entrega .recoger-domicilio{
    width: 120;
    height: 320px;
    margin-left: -20px;
    margin-top: 40px;
    box-shadow: 0px 0px 10px #000000;
    border-radius: 10px;
    cursor: pointer;
}
.modo-entrega .opc-modo-entrega .recoger-domicilio:hover{
    transform:scale(1.02) ;
}
.modo-entrega .opc-modo-entrega .recoger-domicilio p{
    position: relative;
    width: 160px;
    left: 25px;
    font-weight: bold;
    font-family: var(--YanoneKaffeesatz);
    font-size: 17px;
    top: 30px; 
}
.modo-entrega .opc-modo-entrega .recoger-domicilio img{
    width: 180px;
    height: 200px;
}
/* verificar correo */
.verificar{
    position: absolute;
    top: 350px;
    width: 450px;
    height: 220px;
    box-shadow: 0px 0px 10px #000000;
    z-index: 4;
    background-color: #FFFFFF;
    left:550px;
}
#verificar{
    display: none;
}
.verificar.active{
    opacity: 1;
    top: 350px;
}
.verificar .header-titulo{
    background-color: #e90000;
    color: #FFFFFF;
    height: 60px;
    padding: 15px 10px;
    font-size: 20px;
    text-transform: capitalize;
}
.verificar p{
    font-size: 13px;
    padding: 20px 25px;
}
.verificar div{
    display: flex;
    position: relative;
    padding: 30px 20px;
    justify-content: space-between;
}
.verificar div input{
    height: 40px;
    width: 300px;
    border: 2px solid #000000;
    border-radius: 5px;
    outline: none;
    padding: 0px 30px ;
}
.verificar div input::placeholder{
    font-size: 14px;
}
.verificar div i{
    position: absolute;
    font-size: 25px;
    padding: 7px 5px;
}
.verificar div .btn-verificar{
    background-color: #FF9F23;
    border: none;
    height: 40px;
    width: 90px;
    border-radius: 10px;
}
.verificar div .btn-verificar a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 17px;
}

.verificar{
    position: absolute;
    top: 350px;
    width: 450px;
    height: 220px;
    box-shadow: 0px 0px 10px #000000;
    z-index: 10;
    background-color: #FFFFFF;
    left:550px;
}
#verificar{
    display: none;
}
.verificar.active{
    opacity: 1;
    top: 350px;
}
.verificar .header-titulo{
    background-color: #e90000;
    color: #FFFFFF;
    height: 60px;
    padding: 15px 10px;
    font-size: 20px;
    text-transform: capitalize;
}
.verificar p{
    font-size: 13px;
    padding: 20px 25px;
}
.verificar div{
    display: flex;
    position: relative;
    padding: 30px 20px;
    justify-content: space-between;
}
.verificar div input{
    height: 40px;
    width: 300px;
    border: 2px solid #000000;
    border-radius: 5px;
    outline: none;
    padding: 0px 30px ;
}
.verificar div input::placeholder{
    font-size: 14px;
}
.verificar div i{
    position: absolute;
    font-size: 25px;
    padding: 7px 5px;
}
.verificar div .btn-verificar{
    background-color: #FF9F23;
    border: none;
    height: 40px;
    width: 90px;
    border-radius: 10px;
}
.verificar div .btn-verificar a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 17px;
}
/* donde te encuentras */
.donde-encuentras{
    position: absolute;
    width: 650px;
    height: 390px;
    box-shadow: 0px 0px 10px inset;
    background-color: #FFFFFF;
    top: 150px;
    left: 500px;
    border: 1px solid #000000;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: all .3s linear;
}
#donde-encuentras{
    top: -350px;
    opacity: 0;
}
#donde-encuentras.active{
    top: 150px;
    opacity: 1;
}
.donde-encuentras .header-titulo{
    background-color: #e90000;
    height: 70px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.donde-encuentras .contenido{
    position: relative;
    display: inline-block;
    top: -20px;
    padding: 0px -50px;
    color: #000000;
    line-height: 35px;
    margin: 20px;
}
.donde-encuentras .contenido p{
    font-size: 15px;
    margin: 10px 0px 10px 0px;
}
.formulario-dir{
    display: inline-block;
}
.formulario-dir label{
    font-weight: bold;
    font-size: 14px;
}
.formulario-dir input{
    height: 30px;
    border-radius: 5px;
}
.formulario-dir .barrio{
    display: block;
}
.formulario-dir .barrio input{
    width: 100%;
    height: 30px;
    padding: 0 10px;
}
.formulario-dir .direccion{
    position: relative;
    top: 20px;
    padding: 0 0px;
    display: inline-block;
}
.formulario-dir .direccion select{
    width: 90px;
    height: 30px;
    border-radius: 5px;
}
.formulario-dir .direccion input[type="number"]{
    width: 70px;
}
.formulario-dir .textarea{
    display: inline-block;
    position: relative;
    top: 20px;
}
.formulario-dir .textarea textarea{
    position: relative;
    top: 20px;
    height: 50px;
    width: 520px;
    padding: 10px 0;
}
.formulario-dir .textarea textarea::placeholder{
    font-size: 15px;
}
.donde-encuentras .contenido .btn-guardar{
    position: relative;
    top: 40px;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    background: #FF9F23;
    border: none;
    cursor: pointer;
}
.donde-encuentras .contenido .btn-guardar a{
    font-size: 17px;
    color: #FFFFFF;
    text-decoration: none;
}
/* Seguir comprando */

.cuadro-seguir{
    position: absolute;
    top: 850px;
    width: 450px;
    height: 550px;
    box-shadow: 0px 0px 20px #000000;
    background-color: #FFFFFF;
    left:600px;
    border-radius: 10px;
    transition: all .3s linear;
}
#cuadro-seguir{
    top: -600px;
    opacity: 1;
}
#cuadro-seguir.active{
    opacity: 1;
    top: 200px;
    transition: all .3s linear;
    z-index: 5;
}
.cuadro-seguir .fa-circle-check{
    font-size: 215px;
    color: #e90000;
    padding: 35px 112px;
}
.cuadro-seguir h3{
    text-align: center;
    font-size: 20px;
}
.cuadro-seguir .btn-seguir{
    background-color: #FF9F23;
    border: none;
    width: 140px;
    height: 40px;
    border-radius: 8px;
    position: absolute;
    left: 150px;
    top: 400px;
}
.cuadro-seguir .btn-seguir a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;

}

.banner{
	width: 100%;
	height: 800px;
	animation: banner 10s infinite linear alternate;
	background-size: 100% 100%;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
    margin: auto;
    top: 150px;
}

@keyframes banner{
	0%, 20%{
		background-image: url("../imagenes/quienes-som22.jpg");
	}
	25%, 45%{
		background-image: url("../imagenes/komorebi-quienes-somos.jpg");
	}
	50%, 70%{
		background-image: url("../imagenes/quienes-somos-mk.jpg");
	}
	75%, 100%{
		background-image: url("../imagenes/quienes-fotos.jpg");
	}
}
.capa{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.6);
}
.info{
	z-index: 1;
	width: 100%;
	max-width: 550px;
	text-align: center;
    border-radius: 8px;
}
.info h1{
	color: #fff;
	font-size: 69px;
	margin-bottom: 20px;
	letter-spacing: 1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.info p{
	color: #c7c7c7;
	line-height: 1.7;
	margin-bottom: 30px;
}
.info a{
	color: #fff;
	text-decoration: none;
	background: #e90000;
	padding: 16px 37px;
	display: inline-block;
	border-radius: 50px;
}
