/* Global Configuration */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color1: #e90000;
    --color-2: #D2D2D2; 
    --color-3: #777777;  
    --color-4: black; 
    --color-5: white;
    --font-1: "Open Sans", sans-serif;
    --font-2: "Yanone Kaffeesatz", sans-serif;   
}

a:link{
    color: black;
}

/* Header */

/* Header Top */

.header-top{
    background: var(--color-2);
    display: flex;
    justify-content: space-between;
}

.header-top .social-networks{
    padding: 10px;
    display: flex;
}

.header-top .social-networks a {
    color: var(--color-3);
    margin-left: 40%;
}

.header-top .social-networks a:hover{
    color: var(--color-4);
}


.header-top .logo img{
    width: 150px;
    height: 20px;
    padding-right: 50px;
    padding-top: 5px;
}

/* Header Bottom */

.header-bottom{
    display: grid;
    grid-template-columns: 10% 10% 50% 30%;
    align-items: center;
    justify-content: center;
    background: var(--color1);
    padding-top: 10px;
    padding-bottom: 10px;
}

.header-bottom .icon-menu{
    margin-left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.header-bottom .logo img{
    display: none;
}

/* Icon Menu */

.icon-menu {
    color: var(--color-5);
    display: flex;
    justify-content: center;
}

/* Search */

.search{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search #search-bar input{
    border-radius: 10px;
    color: var(--color-3);
    padding: 8px 5px 8px 5px ;
    font-family: var(--font-2);
    border: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

/* Other Services */

.search .other-services {
    display: flex;
    margin-top: 10px;
    gap: 10px;
    padding-bottom: 10px;
}

.search .other-services a {
    width: 50%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-5);
    color: var(--color-4);
    text-decoration: none;
    padding: 7px;
    overflow: hidden;
    border-radius: 20px;
    transition: width 0.3s ease;
    cursor: pointer;
}
.search .other-services a .link-text{
    display: none;
    font-family: var(--font-1);
    font-size: 10px;
    margin-left: 5px;
}

.search .other-services a:hover {
    width: 100%;
}

.search .other-services a:hover .link-text{
    transition: 1s ease;
    display: block;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -ms-transition: 1s ease;
    -o-transition: 1s ease;
}


/* Services */

.services{
    display: grid;
    grid-template-columns: 40% 40%;
    gap: 10%;

}

.services > a{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-1);
    color: var(--color-5);
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.services > a > p{
    margin-top: 10px;
    font-size: 16px;
}