/* Global Configuration */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-3);
}
:root{
    --color1: #e90000;
    --color-2: #D2D2D2; 
    --color-3: #777777;  
    --color-4: black; 
    --color-5: white;
    --color-6: #FF9F23;
    --font-1: "Open Sans", sans-serif;
    --font-2: "Yanone Kaffeesatz", sans-serif;
    --font-3: 'Poppins', sans-serif;
}

a:link{
    color: black;
}
/* Header */

/* Header Top */
.header-top{
    background: var(--color-2);
    display: flex;
    justify-content: space-between;
}


/* icons*/

.wrapper .button{
  display: inline-block;
  height: 60px;
  width: 30px;
  float: left;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease-out;
}
.wrapper .button:hover{
  width: 100px;
}
.wrapper .button .icon{
  display: inline-block;
  height: 50px;
  width: 20px;
  margin-right: 20px;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 90px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1):hover .icon{
  background: #4267B2;
}
.wrapper .button:nth-child(2):hover .icon{
  background: #1DA1F2;
}
.wrapper .button:nth-child(3):hover .icon{
  background: #E1306C;
}
.wrapper .button:nth-child(4):hover .icon{
  background: #333;
}
.wrapper .button:nth-child(5):hover .icon{
  background: #ff0000;
}
.wrapper .button .icon i{
  font-size: 15px;
  line-height: 40px;
  transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon i{
  color: #fff;
}
.wrapper .button span{
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1) span{
  color: #4267B2;
}
.wrapper .button:nth-child(2) span{
  color: #1DA1F2;
}
.wrapper .button:nth-child(3) span{
  color: #E1306C;
}
.wrapper .button:nth-child(4) span{
  color: #333;
}
.wrapper .button:nth-child(5) span{
  color: #ff0000;
}

/* icons fin */

.header-top .logo img{
    width: 0px;
    height: 0px;
}

/* logo index */

.logoPrincipal img{
    width: 300px;
    height: 65px;
    padding-right: 60px;
    padding-top: 6px;
    margin-left: -50px;
}

/* Carrucel de imagenes */

.carousel-image {
    height: 750px;
}

/* Header Bottom */

.header-bottom{
    display: grid;
    grid-template-columns: 19% 0% 50% 30%;
    align-items: center;
    justify-content: center;
    background: var(--color1);
    padding-top: 10px;
    padding-bottom: 10px;
}

.header-bottom .icon-menu{
    margin-left: 35%;
    transform: translateX(-50%);
    font-size: 35px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.header-bottom .logo .logoPrincipal img{
    display: none;
}

/* Icon Menu */

.icon-menu {
    color: var(--color-5);
    display: flex;
    justify-content: center;
}

/* Search */

.search{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search #search-bar input{
    border-radius: 10px;
    color: var(--color-3);
    padding: 8px 5px 8px 5px ;
    font-family: var(--font-3);
    font-size: 15px;
    border: none;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

/* Other Services */

.search .other-services {
    display: flex;
    margin-top: 10px;
    gap: 15px;
    padding-bottom: 10px;
}

.search .other-services a {
    width: 50%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-5);
    color: var(--color-4);
    text-decoration: none;
    padding: 7px;
    overflow: hidden;
    border-radius: 10px;
    transition: width 0.8s ease;
    cursor: pointer;
}
.search .other-services a .link-text{
    display: none;
    font-family: var(--font-3);
    font-size: 10px;
    margin-left: 5px;
}

.search .other-services a:hover {
    width: 100%;
}

.search .other-services a:hover .link-text{
    transition: 2s ease;
    display: block;
}




/* Services */

.services{
    display: grid;
    grid-template-columns: 40% 40%;
    gap: 10%;

}

.services > a{
    display: flex;
    height: 50%;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-1);
    color: var(--color-5);
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
.services > a > p{
    margin-top: 10px;
    font-size: 14px;
    font-family: var(--font-3);
}

.services > a > i{
    font-size: 30px;
}
.titulo-promociones{
    position: relative;
    text-decoration: none;
    color: #e90000;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    
}

.contenedor{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    /* oculto lo que queda fuera del .contenedor */
}
/* SECCION CONTENEDOR DE ITEMS */
.contenedor .contenedor-items{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 2fr));
    grid-gap:30px;
    grid-row-gap: 30px;
    /* width: 60%; */
    width: 100%;
    transition: .3s;
}
.contenedor .contenedor-items .item{
    max-width: 230px;
    margin: auto;
    border: 1px solid #666;
    border-radius: 10px;
    padding: 20px;
    transition: .3s;
}
.contenedor .contenedor-items .item .img-item{
    width: 100%;
}
.contenedor .contenedor-items .item:hover{
    box-shadow: 0 0 10px #666;
    scale: 1.05;
}
.contenedor .contenedor-items .item .titulo-item{
    display: block;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.contenedor .contenedor-items .item .precio-item{
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}
.contenedor .contenedor-items .item p{
    text-align: center;
    font-size: 14px;
    color: #7a7a7a;
}
.contenedor .contenedor-items .item .boton-item{
    display: block;
    margin: 10px auto;
    border: none;
    background-color: #FF9F23;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}
/* seccion carrito */
.carrito{
    border: 1px solid #666;
    width: 35%;
    margin-top: 30px;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-bottom: auto;
    position: absolute; 
    top: 119px;
    transition: .3s;
    /* Estilos para ocultar */
    right: 0;
    opacity: 1;
    overflow: hidden;
}
#carrito{
    display: none;
}

.carrito .header-carrito{
    background-color: #e90000;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}
p > .fa-xmark{
    position: absolute;
    right: 5%;
    top: 2%;
    font-size: 20px;
    cursor: pointer;        
}
.carrito .carrito-item{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    position: relative;
    border-bottom: 1px solid #666;
    padding: 20px;
}
.carrito .carrito-item img{
    margin-right: 20px;
}
.carrito .carrito-item .carrito-item-titulo{
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.carrito .carrito-item .selector-cantidad{
    display: inline-block;
    margin-right: 25px;
}
.carrito .carrito-item .carrito-item-cantidad{
    border: none;
    font-size: 18px;
    background-color: transparent;
    display: inline-block;
    width:30px;
    padding: 5px;
    text-align: center;
}
.carrito .carrito-item .selector-cantidad i{
    font-size: 18px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
}
.carrito .carrito-item .carrito-item-precio{
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 5px;
}
.carrito .carrito-item .btn-eliminar{
    position: absolute;
    right: 15px;
    top: 15px;
    color: #000;
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
    display: block;
    background: transparent;
    z-index: 20;
}
.carrito .carrito-item .btn-eliminar i{
    pointer-events: none;
}

.carrito-total{
    background-color: #f3f3f3;
    padding: 30px;
}
.carrito-total .fila{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}
.carrito-total .btn-pagar{
    display: block;
    width: 100%;
    border: none;
    background: #FF9F23;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}
.carrito-total .btn-pagar:hover{
    scale: 1.05;
}

/* seccion quines somos */
/* Global Configuration */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-3);
}
:root{
    --color1: #e90000;
    --color-2: #D2D2D2; 
    --color-3: #777777;  
    --color-4: black; 
    --color-5: white;
    --color-6: #FF9F23;
    --font-1: "Open Sans", sans-serif;
    --font-2: "Yanone Kaffeesatz", sans-serif;
    --font-3: 'Poppins', sans-serif;
}

a:link{
    color: black;
}

:root {
    --Caveat: "Caveat", cursive;
    --YanoneKaffeesatz: "Yanone Kaffeesatz", sans-serif;
    --OpenSans: "Open Sans", sans-serif;    
}


/* contenido de nosotros */

.banner {
    width: 100%;
    height: 100vh;
    animation: banner 10s infinite linear alternate;
    background-size: 100% 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    right: 0;
    top: 150px;
    object-fit: cover;
}

@keyframes banner {

    0%,
    20% {
        background-image: url("../images/komorebi-quienes-somos.jpg");
    }

    25%,
    45% {
        background-image: url("../images/quienes-fotos.jpg");
    }

    50%,
    70% {
        background-image: url("../images/quienes-som22.jpg");
    }

    75%,
    100% {
        background-image: url("../images/quienes-somos-mk.jpg");
    }
}

.capa {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    object-fit: contain;
}

.info {
    z-index: 1;
    width: 100%;
    max-width: 550px;
    text-align: center;
    border-radius: 8px;
    margin: 300px;

}

.info h1 {
    color: #fff;
    font-size: 69px;
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.info p {
    color: #c7c7c7;
    line-height: 1.7;
    margin-bottom: 30px;
}

.info a {
    color: #fff;
    text-decoration: none;
    background: #e90000;
    padding: 16px 37px;
    display: inline-block;
    border-radius: 50px;
}
/* logo en contenedor */
.logo-solo {
    top: 400px;
    position: relative;
    width: 30%;
    height: 250px;
    margin-top: 230px;
    margin-left: 70%;
    align-items: center;
    background: #f2f2f3;
    border-radius: 12px;
    box-shadow: inset 5px 5px 10px #a9a9aa77,
                             inset -5px -5px 10px #ffffff7e;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo-solo img {
        width: 70%;
        height: 30%;
  }
  
  .text-miplaza{
    width: 100%;
    height: 50%;
    /* background: url('../images/komorebi-quienes-somos.jpg'); */
    margin-top: 150px;
    display: flex;
    background-position: center center;
    background-size: auto;
    position: absolute;
    justify-content: center;
    align-items: center;
  }

  .text-miplaza img {
    max-width: 100%;
    max-height: 100%;
  }

  /* contenedor de mision y vision */
  aside{
    position: relative;
    display:flex ;
    justify-content: center;
    background-color: #343434b4;
    top: 590px;
    display: grid;
    grid-template-columns: repeat(2, 600px);
    grid-template-rows: repeat(2, 200px);
    gap: 150px;
    width: 100%;
}
aside .mision{
    position: relative;
    top: 40px;
    width: 550px;
    height: 320px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 1px 2px 20px 4px #00000082;
}
aside .mision h2{
    position: absolute;
    color: #FF9F23;
    font-size: 30px;
    font-family: var(--YanoneKaffeesatz);
    font-weight: bold;
    display: block;
    left: 35px;
    top: 40px;
}
aside .mision p{
    position: absolute;
    top: 90px;
    left: 35px;
    width: 450px;
    font-family: var(--YanoneKaffeesatz);
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    text-transform: none;
}
aside .vision{
    position: relative;
    top: 40px;
    width: 550px;
    height: 320px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 1px 2px 20px 4px #00000082;
}
aside .vision h2{
    position: absolute;
    color: #FF9F23;
    font-size: 30px;
    font-family: var(--YanoneKaffeesatz);
    font-weight: bold;
    display: block;
    left: 35px;
    top: 40px;
}
aside .vision p{
    position: absolute;
    top: 90px;
    left: 35px;
    width: 470px;
    font-family: var(--YanoneKaffeesatz);
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    text-transform: none;
}
/* ¿QUIENES SOMOS? TEXTO */
.card {
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;
    background-color: #f2f2f2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-image: url('../images/quienes_somos.jpg');
    background-position: center center;
    object-fit: contain;
    perspective: 1000px;
    margin:auto;
    margin-top: 100px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card__image {
    width: 100%;
    height: 100%;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
  }
  
  .card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card:hover .card__content {
    transform: rotateX(0deg);
  }
  
  .card__title {
    margin: 0;
    font-size: 20px;
    color: #333;
    font-weight: 700;
  }
  
  .card:hover svg {
    scale: 0;
  }
  
  .card__description {
    margin: 10px 0 10px;
    font-size: 12px;
    color: #777;
    line-height: 1.4;
  }
  
  .card__button {
    padding: 15px;
    border-radius: 8px;
    background: #777;
    border: none;
    color: white;
  }
  
  .secondary {
    background: transparent;
    color: #777;
    border: 1px solid #777;
  } 
.card-quienes {
    left: 0px;
    top: 900px;
    position: relative;
    padding: 20px;
    width: 60%;
    border-radius: 20px;
    background: white;
    box-shadow: 5px 5px 8px #cbc5c5,
               -5px -5px 8px #cbc5c5;
    transition: 0.4s;
  }
  
  .card-somos:hover {
    translate: 0 -10px;
  }
  
  .cardsom-title {
    font-size: 25px;
    font-weight: 600;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 15px 0 0 10px;
  }
  
  .cardsom-body {
    margin: 13px 0 0 10px;
    color: #7b7575;
    font-size: 17px;
  }
  

/*boton*/

.Btn {
  width: 180px;
  height: 40px;
  border: none;
  top: 10px;
  left: 260px;
  border-radius: 10px;
  background: linear-gradient(to right,#77530a,#ffd277,#77530a,#77530a,#ffd277,#77530a);
  background-size: 250%;
  background-position: left;
  color: #ffd277;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 1s;
  overflow: hidden;
}

.Btn::before {
  position: absolute;
  content: "¿Donde Encontrarnos?";
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 97%;
  height: 90%;
  border-radius: 8px;
  transition-duration: 1s;
  background-color: rgba(0, 0, 0, 0.842);
  background-size: 200%;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Btn:hover {
  background-position: right;
  transition-duration: 1s;
}

.Btn:hover::before {
  background-position: right;
  transition-duration: 1s;
}

.Btn:active {
  transform: scale(0.95);
}

/*google maps*/
.mapa {
    margin: auto;
    margin-top: 700px;
    padding: 10px;
    width: 95%;
    height: 100%;
    display: grid;
    grid-template-rows: 100px 500px 1fr 100px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
  }
  
  .mapa:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
  }
  
  .mapa-5 {
    background: radial-gradient( #ffffff , #ffffff);
    overflow: hidden;
  }
  

  
/*Aquí debajo va el FOOTER*/

footer{
    width: 100%;
    padding: 10px 0px;
    background-image: url('../images/background-footer.svg');
    background-size: cover;
    margin-top: 5%;
    
    /*background-color: #d0f0f8;
    -webkit-mask-image: url("../Images/background-footer.svg");
    mask-image: url("../Images/background-footer.svg");
    -webkit-mask-size: cover;
    mask-size: cover;*/
}

.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 90%;
    margin: auto;
    margin-top: 100px;
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 35px;
}

.box__footer .logo img{
    width: 180px;
}

.box__footer .terms{
    max-width: 330px;
    margin-top: 20px;
    font-weight: 500;
    color: #7a7a7a;
    font-size: 18px;
}

.box__footer h2{
    margin-bottom: 30px;
    color: #343434;
    font-weight: 700;
}

.box__footer a{
    margin-top: 10px;
    color: #7a7a7a;
    font-weight: 600;
}

.box__footer a:hover{
    opacity: 0.8;
}

.box__footer a .fab{
    font-size: 20px;
}

.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p{
    margin-top: 20px;
    color: #7a7a7a;
}

.box__copyright hr{
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}
/*Aquí termina el FOOTER*/

/* modo entrega */
.modo-entrega{
    position: absolute;
    background-color: #FFFFFF;
    opacity: 0.2;
    left: 550px;
    width: 380px;
    overflow: hidden;
    height: 450px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 10px #000000;
}
#modo-entrega{
    top: -450px;
    opacity:0;
    transition: all .4s linear;
}
#modo-entrega.active{
    top: 150px;
    opacity: 1;
}
.modo-entrega .fa-circle-xmark{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 22px;
    cursor: pointer;
}
.modo-entrega .header-titulo{
    background-color: #e90000;
    color: #FFFFFF;
    display: flex;
    font-size: 12px;
    margin-left: -80px;
    justify-content: center;
    align-items: center;
    height: 70px;
}
.modo-entrega .opc-modo-entrega{
    display: flex;
    width: 390px;
    height: 360px;
    border-radius: 10px;
    justify-content: space-around;
    padding-left: 0px;
    border-radius: 10px;
}
.modo-entrega .opc-modo-entrega .recoger-tienda{
    width: 120;
    margin-top: 40px;
    margin-left: -10px;
    box-shadow: 0px 0px 10px #000000;
    border-radius: 10px;
    cursor: pointer;
}
.modo-entrega .opc-modo-entrega .recoger-tienda:hover{
    transform: scale(1.02);
}
.modo-entrega .opc-modo-entrega .recoger-tienda img{
    position: relative;
    padding-left: -130px;
    width: 160px;
    height: 200px;
}
.modo-entrega .opc-modo-entrega .recoger-tienda p{
    position: relative;
    width: 160px;
    left: 25px;
    font-weight: bold;
    font-family: var(--YanoneKaffeesatz);
    font-size: 17px;
    top: 30px;

}
.modo-entrega .opc-modo-entrega .recoger-domicilio{
    width: 120;
    height: 320px;
    margin-left: -20px;
    margin-top: 40px;
    box-shadow: 0px 0px 10px #000000;
    border-radius: 10px;
    cursor: pointer;
}
.modo-entrega .opc-modo-entrega .recoger-domicilio:hover{
    transform:scale(1.02) ;
}
.modo-entrega .opc-modo-entrega .recoger-domicilio p{
    position: relative;
    width: 160px;
    left: 25px;
    font-weight: bold;
    font-family: var(--YanoneKaffeesatz);
    font-size: 17px;
    top: 30px; 
}
.modo-entrega .opc-modo-entrega .recoger-domicilio img{
    width: 180px;
    height: 200px;
}
/* verificar correo */
.verificar{
    position: absolute;
    top: 350px;
    width: 450px;
    height: 220px;
    box-shadow: 0px 0px 10px #000000;
    z-index: 4;
    background-color: #FFFFFF;
    left:550px;
}
#verificar{
    display: none;
}
.verificar.active{
    opacity: 1;
    top: 350px;
}
.verificar .header-titulo{
    background-color: #e90000;
    color: #FFFFFF;
    height: 60px;
    padding: 15px 10px;
    font-size: 20px;
    text-transform: capitalize;
}
.verificar p{
    font-size: 13px;
    padding: 20px 25px;
}
.verificar div{
    display: flex;
    position: relative;
    padding: 30px 20px;
    justify-content: space-between;
}
.verificar div input{
    height: 40px;
    width: 300px;
    border: 2px solid #000000;
    border-radius: 5px;
    outline: none;
    padding: 0px 30px ;
}
.verificar div input::placeholder{
    font-size: 14px;
}
.verificar div i{
    position: absolute;
    font-size: 25px;
    padding: 7px 5px;
}
.verificar div .btn-verificar{
    background-color: #FF9F23;
    border: none;
    height: 40px;
    width: 90px;
    border-radius: 10px;
}
.verificar div .btn-verificar a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 17px;
}

.verificar{
    position: absolute;
    top: 350px;
    width: 450px;
    height: 220px;
    box-shadow: 0px 0px 10px #000000;
    z-index: 10;
    background-color: #FFFFFF;
    left:550px;
}
#verificar{
    display: none;
}
.verificar.active{
    opacity: 1;
    top: 350px;
}
.verificar .header-titulo{
    background-color: #e90000;
    color: #FFFFFF;
    height: 60px;
    padding: 15px 10px;
    font-size: 20px;
    text-transform: capitalize;
}
.verificar p{
    font-size: 13px;
    padding: 20px 25px;
}
.verificar div{
    display: flex;
    position: relative;
    padding: 30px 20px;
    justify-content: space-between;
}
.verificar div input{
    height: 40px;
    width: 300px;
    border: 2px solid #000000;
    border-radius: 5px;
    outline: none;
    padding: 0px 30px ;
}
.verificar div input::placeholder{
    font-size: 14px;
}
.verificar div i{
    position: absolute;
    font-size: 25px;
    padding: 7px 5px;
}
.verificar div .btn-verificar{
    background-color: #FF9F23;
    border: none;
    height: 40px;
    width: 90px;
    border-radius: 10px;
}
.verificar div .btn-verificar a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 17px;
}
/* donde te encuentras */
.donde-encuentras{
    position: absolute;
    width: 650px;
    height: 390px;
    box-shadow: 0px 0px 10px inset;
    background-color: #FFFFFF;
    top: 150px;
    left: 500px;
    border: 1px solid #000000;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: all .3s linear;
}
#donde-encuentras{
    top: -350px;
    opacity: 0;
}
#donde-encuentras.active{
    top: 150px;
    opacity: 1;
}
.donde-encuentras .header-titulo{
    background-color: #e90000;
    height: 70px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.donde-encuentras .contenido{
    position: relative;
    display: inline-block;
    top: -20px;
    padding: 0px -50px;
    color: #000000;
    line-height: 35px;
    margin: 20px;
}
.donde-encuentras .contenido p{
    font-size: 15px;
    margin: 10px 0px 10px 0px;
}
.formulario-dir{
    display: inline-block;
}
.formulario-dir label{
    font-weight: bold;
    font-size: 14px;
}
.formulario-dir input{
    height: 30px;
    border-radius: 5px;
}
.formulario-dir .barrio{
    display: block;
}
.formulario-dir .barrio input{
    width: 100%;
    height: 30px;
    padding: 0 10px;
}
.formulario-dir .direccion{
    position: relative;
    top: 20px;
    padding: 0 0px;
    display: inline-block;
}
.formulario-dir .direccion select{
    width: 90px;
    height: 30px;
    border-radius: 5px;
}
.formulario-dir .direccion input[type="number"]{
    width: 70px;
}
.formulario-dir .textarea{
    display: inline-block;
    position: relative;
    top: 20px;
}
.formulario-dir .textarea textarea{
    position: relative;
    top: 20px;
    height: 50px;
    width: 520px;
    padding: 10px 0;
}
.formulario-dir .textarea textarea::placeholder{
    font-size: 15px;
}
.donde-encuentras .contenido .btn-guardar{
    position: relative;
    top: 40px;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    background: #FF9F23;
    border: none;
    cursor: pointer;
}
.donde-encuentras .contenido .btn-guardar a{
    font-size: 17px;
    color: #FFFFFF;
    text-decoration: none;
}
/* Seguir comprando */

.cuadro-seguir{
    position: absolute;
    top: 850px;
    width: 450px;
    height: 550px;
    box-shadow: 0px 0px 20px #000000;
    background-color: #FFFFFF;
    left:600px;
    border-radius: 10px;
    transition: all .3s linear;
}
#cuadro-seguir{
    top: -600px;
    opacity: 1;
}
#cuadro-seguir.active{
    opacity: 1;
    top: 200px;
    transition: all .3s linear;
    z-index: 5;
}
.cuadro-seguir .fa-circle-check{
    font-size: 215px;
    color: #e90000;
    padding: 35px 112px;
}
.cuadro-seguir h3{
    text-align: center;
    font-size: 20px;
}
.cuadro-seguir .btn-seguir{
    background-color: #FF9F23;
    border: none;
    width: 140px;
    height: 40px;
    border-radius: 8px;
    position: absolute;
    left: 150px;
    top: 400px;
}
.cuadro-seguir .btn-seguir a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;

}

/* SECCION RESPONSIVE */

/* Media query para dispositivos medianos */
@media screen and (max-width: 1440px) {
    .carousel-image {
      height: 650px;
      }
    .logoPrincipal img{
        width: 340px;
        height: 70px;
        padding-right: 60px;
        padding-top: 6px;
        margin-left: -100px;
    }
    .header-top .logo img {
        width: 0px;
        height: 0px;
    }
  }

/* Media query para dispositivos medianos */
@media screen and  (max-width: 1024px) {
  body {
    font-size: 14px;
  }
    .carousel-image {
        height: 450px;
    }
    .logoPrincipal img{
        width: 260px;
        height: 55px;
        padding-right: 60px;
        padding-top: 6px;
        margin-left: -80px;
    }
}

/* @media screen and (max-width: 850px) {
    .contenedor {
        display: block;
    }
    .contenedor-items{
        width: 100% ;
        margin: auto;
    }
    .carrito{
        width: 60%;
    }
    .carrito .carrito-item{
        margin: 5% ;
    }
    .carrito .carrito-item img{
        margin-left:-10%;
    }
    .carrito .carrito-item .btn-eliminar{
        right: -5%;
        top: -5%;
        
    }
    .carousel-image {
        height: 400px;
    }
    
  } */

/* Media query para dispositivos pequeños */
@media screen and  (max-width: 768px) {
  /* .container-fliud {
    padding: 20px;
  } */
    .carousel-image {
        height: 350px;
    }
    .logoPrincipal img{
        width: 210px;
        height: 42px;
        padding-right: 60px;
        padding-top: 4px;
        margin-left: -65px;
    }
}

/* Media query para dispositivos extra pequeños */
@media screen and  (max-width: 425px) {
  .social-networks {
    text-align: center;
  }
    .carousel-image {
        height: 200px;
    }
    .logoPrincipal img{
        width: 0px;
        height: 0px;
    }
    .header-top .logo img {
        width: 155px;
        height: 30px;
        padding-right: 50px;
        padding-top: 5px;
    }
}

/* termina seccion responsive */
.quienes-somos{
    position: absolute;
    top: 950px;
    width: 1600px;
    border-top: 2px solid #777777;

}

.quienes-somos p{
    position: absolute;
    text-align: center;
    top: 100px;
    right: 300px;
    color: #000000;
    font-size: 30px;
    text-transform: capitalize;
    font-family: var(--YanoneKaffeesatz);
}
.quienes-somos p span{
    position: absolute;
    color: #FF9F23;
    left: 65px;
    font-size: 60px;
    letter-spacing: 1px;
}
.quienes-somos div{
position: absolute;
left: 120px;
width: 1000px;
height: 400px;
top: 550px;
color: #000000;
z-index: 999;
}
.quienes-somos div h1{
    position: absolute;
    color: #e90000;
    font-size: 30px;
    font-family: var(--YanoneKaffeesatz);
}
.quienes-somos div p{
    position: absolute;
    display: inline-block;
    width: 980px;
    text-align: justify;
    line-height: 30px;
    top: 60px;
    left: 10px;
    color: #000000;
    font-size: 18px;
    font-family: var(--YanoneKaffeesatz);
    text-transform: none;
}
aside{
    position: relative;
    display:flex ;
    justify-content: center;
    background-color: #343434b4;
    top: 590px;
    display: grid;
    grid-template-columns: repeat(2, 600px);
    grid-template-rows: repeat(2, 200px);
    gap: 150px;
    width: 100%;
}
aside .mision{
    position: relative;
    top: 40px;
    width: 550px;
    height: 320px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 1px 2px 20px 4px #00000082;
}
aside .mision h2{
    position: absolute;
    color: #FF9F23;
    font-size: 30px;
    font-family: var(--YanoneKaffeesatz);
    font-weight: bold;
    display: block;
    left: 35px;
    top: 40px;
}
aside .mision p{
    position: absolute;
    top: 90px;
    left: 35px;
    width: 450px;
    font-family: var(--YanoneKaffeesatz);
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    text-transform: none;
}
aside .vision{
    position: relative;
    top: 40px;
    width: 550px;
    height: 320px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 1px 2px 20px 4px #00000082;
}
aside .vision h2{
    position: absolute;
    color: #FF9F23;
    font-size: 30px;
    font-family: var(--YanoneKaffeesatz);
    font-weight: bold;
    display: block;
    left: 35px;
    top: 40px;
}
aside .vision p{
    position: absolute;
    top: 90px;
    left: 35px;
    width: 470px;
    font-family: var(--YanoneKaffeesatz);
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    text-transform: none;
}


/* contenido de nosotros */

.banner {
    width: 100%;
    height: 100vh;
    animation: banner 10s infinite linear alternate;
    background-size: 100% 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    right: 0;
    top: 150px;
    object-fit: cover;
}

@keyframes banner {

    0%,
    20% {
        background-image: url("../images/komorebi-quienes-somos.jpg");
    }

    25%,
    45% {
        background-image: url("../images/quienes-fotos.jpg");
    }

    50%,
    70% {
        background-image: url("../images/quienes-som22.jpg");
    }

    75%,
    100% {
        background-image: url("../images/quienes-somos-mk.jpg");
    }
}

.capa {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    object-fit: contain;
}

.info {
    z-index: 1;
    width: 100%;
    max-width: 550px;
    text-align: center;
    border-radius: 8px;
    margin: 300px;

}

.info h1 {
    color: #fff;
    font-size: 69px;
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.info p {
    color: #c7c7c7;
    line-height: 1.7;
    margin-bottom: 30px;
}

.info a {
    color: #fff;
    text-decoration: none;
    background: #e90000;
    padding: 16px 37px;
    display: inline-block;
    border-radius: 50px;
}
/* logo en contenedor */
.logo-solo {
    top: 400px;
    position: relative;
    width: 30%;
    height: 250px;
    margin-top: 230px;
    margin-left: 70%;
    align-items: center;
    background: #f2f2f3;
    border-radius: 12px;
    box-shadow: inset 5px 5px 10px #a9a9aa77,
                             inset -5px -5px 10px #ffffff7e;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo-solo img {
        width: 70%;
        height: 30%;
  }
  
  .text-miplaza{
    width: 100%;
    height: 50%;
    /* background: url('../images/komorebi-quienes-somos.jpg'); */
    margin-top: 150px;
    display: flex;
    background-position: center center;
    background-size: auto;
    position: absolute;
    justify-content: center;
    align-items: center;
  }

  .text-miplaza img {
    max-width: 100%;
    max-height: 100%;
  }
/* ¿QUIENES SOMOS? TEXTO */
.card {
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;
    background-color: #f2f2f2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-image: url('../images/quienes_somos.jpg');
    background-position: center center;
    object-fit: contain;
    perspective: 1000px;
    margin:auto;
    margin-top: 100px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card__image {
    width: 100%;
    height: 100%;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
  }
  
  .card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card:hover .card__content {
    transform: rotateX(0deg);
  }
  
  .card__title {
    margin: 0;
    font-size: 20px;
    color: #333;
    font-weight: 700;
  }
  
  .card:hover svg {
    scale: 0;
  }
  
  .card__description {
    margin: 10px 0 10px;
    font-size: 12px;
    color: #777;
    line-height: 1.4;
  }
  
  .card__button {
    padding: 15px;
    border-radius: 8px;
    background: #777;
    border: none;
    color: white;
  }
  
  .secondary {
    background: transparent;
    color: #777;
    border: 1px solid #777;
  } 
.card-quienes {
    left: 0px;
    top: 900px;
    position: relative;
    padding: 20px;
    width: 60%;
    border-radius: 20px;
    background: white;
    box-shadow: 5px 5px 8px #cbc5c5,
               -5px -5px 8px #cbc5c5;
    transition: 0.4s;
  }
  
  .card-somos:hover {
    translate: 0 -10px;
  }
  
  .cardsom-title {
    font-size: 25px;
    font-weight: 600;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 15px 0 0 10px;
  }
  
  .cardsom-body {
    margin: 13px 0 0 10px;
    color: #7b7575;
    font-size: 17px;
  }
/* termina quienes somos */

/* SECCION RESPONSIVE */

/* Media query para dispositivos medianos */
@media screen and (max-width: 1440px) {
    .carousel-image {
      height: 650px;
      }
    .logoPrincipal img{
        width: 340px;
        height: 70px;
        padding-right: 60px;
        padding-top: 6px;
        margin-left: -100px;
    }
    .header-top .logo img {
        width: 0px;
        height: 0px;
    }
  }

/* Media query para dispositivos medianos */
@media screen and  (max-width: 1024px) {
  body {
    font-size: 14px;
  }
    .carousel-image {
        height: 450px;
    }
    .logoPrincipal img{
        width: 260px;
        height: 55px;
        padding-right: 60px;
        padding-top: 6px;
        margin-left: -80px;
    }
}

/* Media query para dispositivos pequeños */
@media screen and  (max-width: 768px) {
    .carousel-image {
        height: 350px;
    }
    .logoPrincipal img{
        width: 0px;
        height: 0px;
    }
    .header-top .logo img {
        width: 155px;
        height: 30px;
        padding-right: 50px;
        padding-top: 5px;
    }
}

/* Media query para dispositivos extra pequeños */
@media screen and  (max-width: 425px) {
  .social-networks {
    text-align: center;
  }
    .carousel-image {
        height: 200px;
    }
    .logoPrincipal img{
        width: 0px;
        height: 0px;
    }
    .header-top .logo img {
        width: 155px;
        height: 30px;
        padding-right: 50px;
        padding-top: 5px;
    }
}

/* termina seccion responsive */

footer{
    width: 100%;
    padding: 50px 0px;
    background-image: url('../images/background-footer.svg');
    background-size: cover;
    
    /*background-color: #d0f0f8;
    -webkit-mask-image: url("../Images/background-footer.svg");
    mask-image: url("../Images/background-footer.svg");
    -webkit-mask-size: cover;
    mask-size: cover;*/
}

.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 90%;
    margin: auto;
    margin-top: 80px;
}

.box__footer{
    display: flex;
    flex-direction: column;
}

.box__footer .logo img{
    width: 200px;
}

.box__footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #7a7a7a;
    font-size: 16px;
}

.box__footer h2{
    margin-bottom: 30px;
    color: #343434;
    font-weight: 700;
}

.box__footer a{
    margin-top: 10px;
    color: #7a7a7a;
    font-weight: 600;
}

.box__footer a:hover{
    opacity: 0.8;
}

.box__footer a .fab{
    font-size: 20px;
}

.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p{
    margin-top: 20px;
    color: #7a7a7a;
}

.box__copyright hr{
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}



