/* Global Configuration */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-3);
}
:root{
    --color1: #e90000;
    --color-2: #D2D2D2; 
    --color-3: #777777;  
    --color-4: black; 
    --color-5: white;
    --color-6: #FF9F23;
    --font-1: "Open Sans", sans-serif;
    --font-2: "Yanone Kaffeesatz", sans-serif;
    --font-3: 'Poppins', sans-serif;
}

a:link{
    color: black;
}
/* Header */

/* Header Top */
.header-top{
    background: var(--color-2);
    display: flex;
    justify-content: space-between;
}


/* icons*/

.wrapper .button{
  display: inline-block;
  height: 60px;
  width: 30px;
  float: left;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  /* transition: all 0.3s ease-out; */
}
.wrapper .button:hover{
  width: 100px;
}
.wrapper .button .icon{
  display: inline-block;
  height: 50px;
  width: 20px;
  margin-right: 20px;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 90px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1):hover .icon{
  background: #4267B2;
}
.wrapper .button:nth-child(2):hover .icon{
  background: #1DA1F2;
}
.wrapper .button:nth-child(3):hover .icon{
  background: #E1306C;
}
.wrapper .button:nth-child(4):hover .icon{
  background: #333;
}
.wrapper .button:nth-child(5):hover .icon{
  background: #ff0000;
}
.wrapper .button .icon i{
  font-size: 15px;
  line-height: 40px;
  transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon i{
  color: #fff;
}
.wrapper .button span{
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1) span{
  color: #4267B2;
}
.wrapper .button:nth-child(2) span{
  color: #1DA1F2;
}
.wrapper .button:nth-child(3) span{
  color: #E1306C;
}
.wrapper .button:nth-child(4) span{
  color: #333;
}
.wrapper .button:nth-child(5) span{
  color: #ff0000;
}

/* icons fin */

.header-top .logo img{
    width: 0px;
    height: 0px;
}

/* logo index */

.logoPrincipal img{
    width: 300px;
    height: 65px;
    padding-right: 60px;
    padding-top: 6px;
    margin-left: -50px;
}

/* Carrucel de imagenes */

.carousel-image {
    height: 750px;
}

/* Header Bottom */

.header-bottom{
    display: grid;
    grid-template-columns: 19% 0% 50% 30%;
    align-items: center;
    justify-content: center;
    background: var(--color1);
    padding-top: 10px;
    padding-bottom: 10px;
}

.header-bottom .icon-menu{
    margin-left: 34%;
    transform: translateX(-50%);
    font-size: 35px;
    cursor: pointer;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.header-bottom .logo .logoPrincipal img{
    display: none;
}

/* Icon Menu */

.icon-menu {
    color: var(--color-5);
    display: flex;
    justify-content: center;
}

/* Search */

.search{
    margin-left: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search #search-bar input{
    width: 550px;
    border-radius: 10px;
    color: var(--color-3);
    padding: 8px 5px 8px 5px ;
    font-family: var(--font-3);
    font-size: 15px;
    border: none;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

/* Other Services */

.search .other-services {
    display: flex;
    margin-top: 10px;
    gap: 15px;
    padding-bottom: 10px;
}

.search .other-services a {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-5);
    color: var(--color-4);
    text-decoration: none;
    padding: 7px;
    overflow: hidden;
    border-radius: 10px;
    /* transition: width 0.8s ease; */
    cursor: pointer;
}
.search .other-services a .link-text{
    display: block;
    font-family: var(--font-3);
    font-size: 10px;
    margin-left: 10px;
}

/* .search .other-services a:hover {
    width: 100%;
}

.search .other-services a:hover .link-text{
    transition: 2s ease;
    display: block;
} */




/* Services */

.services{
    display: grid;
    grid-template-columns: 40% 40%;
    gap: 10%;
}

.services > a{
    display: flex;
    height: 50%;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-1);
    color: var(--color-5);
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
.services > a > p{
    margin-top: 10px;
    margin-left: 30%;
    font-size: 14px;
    font-family: var(--font-3);
}

.services > a > i{
    font-size: 30px;
    margin-left: 30%;
}
.titulo-promociones{
    position: relative;
    text-decoration: none;
    color: #e90000;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    
}

.contenedor{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
}
/* SECCION CONTENEDOR DE ITEMS */
.contenedor .contenedor-items{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 2fr));
    grid-gap:30px;
    grid-row-gap: 30px;
    /* width: 60%; */
    width: 100%;
    transition: .3s;
}
.contenedor .contenedor-items .item{
    max-width: 230px;
    margin: auto;
    border: 1px solid #666;
    border-radius: 10px;
    padding: 20px;
    transition: .3s;
}
.contenedor .contenedor-items .item .img-item{
    width: 100%;
}
.contenedor .contenedor-items .item:hover{
    box-shadow: 0 0 10px #666;
    scale: 1.05;
}
.contenedor .contenedor-items .item .titulo-item{
    display: block;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.contenedor .contenedor-items .item .precio-item{
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}
.contenedor .contenedor-items .item p{
    text-align: center;
    font-size: 14px;
    color: #7a7a7a;
}
.contenedor .contenedor-items .item .boton-item{
    display: block;
    margin: 10px auto;
    border: none;
    background-color: #FF9F23;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}
/* seccion carrito */
.carrito{
    border: 1px solid #666;
    width: 35%;
    margin-top: 13px;
    background-color: #FFFFFF;
    border-radius: 5px;
    position: absolute; 
    top: 119px;
    transition: .3s;
    /* Estilos para ocultar */
    right: 0;
    overflow: hidden;
}
#carrito{
    display: none;
    z-index: 2;
}

.carrito .header-carrito{
    background-color: #e90000;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}
.header-carrito p .fa-xmark{
    position: absolute;
    right: 10px;
    top: 2%;
    font-size: 20px;
    cursor: pointer;        
}
.carrito .carrito-item{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    position: relative;
    border-bottom: 1px solid #666;
    padding: 20px;
}
.carrito .carrito-item img{
    margin-right: 20px;
}
.carrito .carrito-item .carrito-item-titulo{
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.carrito .carrito-item .selector-cantidad{
    display: inline-block;
    margin-right: 25px;
}
.carrito .carrito-item .carrito-item-cantidad{
    border: none;
    font-size: 18px;
    background-color: transparent;
    display: inline-block;
    width:30px;
    padding: 5px;
    text-align: center;
}
.carrito .carrito-item .selector-cantidad i{
    font-size: 18px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
}
.carrito .carrito-item .carrito-item-precio{
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 5px;
}
.carrito .carrito-item .btn-eliminar{
    position: absolute;
    right: 15px;
    top: 15px;
    color: #000;
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
    display: block;
    background: transparent;
    z-index: 20;
}
.carrito .carrito-item .btn-eliminar i{
    pointer-events: none;
}

.carrito-total{
    background-color: #f3f3f3;
    padding: 30px;
}
.carrito-total .fila{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}
.carrito-total .btn-pagar{
    display: block;
    width: 100%;
    border: none;
    background: #FF9F23;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}
.carrito-total .btn-pagar:hover{
    scale: 1.05;
}

#menu{
    position: absolute;
    background-color: #e90000;
    width: 230px;
    padding: 0;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    top: 17.5%;
    left: 0px;
    transition: all .3s linear;
    border: 2px solid rgba(0, 0, 0, 0.101);
    z-index: 2;
}
#menu{
    display: none;
}

p .fa-xmark{
    position: absolute;
    right: -6px;
    top: 15px;
    font-size: 20px;
    cursor: pointer;
}

#menu ul{
    position: absolute;
    list-style: none;
    font-family: var(--YanoneKaffeesatz);
    font-size: 15px;
    color: #FFFFFF;
    top: -10px;
}
#menu ul li{
    border-bottom: 2px solid #FF9F23;
    padding: 10px;
    padding-top: 35px;
    padding-left: 10px;
}
#menu ul li a{
    color: #FFFFFF;
    text-decoration: none;   
}


    /* Aqui inicia el footer */
    footer{
        width: 100%;
        padding: 50px 0px;
        background-image: url('../images/background-footer.svg');
        background-size: cover;
        /*background-color: #d0f0f8;
        -webkit-mask-image: url("../Images/background-footer.svg");
        mask-image: url("../Images/background-footer.svg");
        -webkit-mask-size: cover;
        mask-size: cover;*/
    }

    .container__footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 90%;
        margin: auto;
        margin-top: 120px;
    }

    .box__footer{
        display: flex;
        flex-direction: column;
        padding: 5px;
    }

    .box__footer .logo img{
        width: 200px;
    }

    .box__footer .terms{
        max-width: 350px;
        margin-top: 5px;
        font-weight: 500;
        color: #7a7a7a;
        font-size: 17px;
    }

    .box__footer h2{
        margin-bottom: 55px;
        color: #343434;
        font-weight: 700;
    }

    .box__footer a{
        margin-top: 10px;
        color: #7a7a7a;
        font-weight: 600;
    }

    .box__footer a:hover{
        opacity: 0.8;
    }

    .box__footer a .fab{
        font-size: 20px;
        margin-top: 10;
    }

    .box__copyright{
        max-width: 1200px;
        margin: auto;
        text-align: center;
        padding: 0px 40px;
    }

    .box__copyright p{
        margin-top: 10px;
        color: #7a7a7a;
    }

    .box__copyright hr{
        border: none;
        height: 1px;
        background-color: #7a7a7a;
    }
    /*Aquí termina el FOOTER*/

/* SECCION RESPONSIVE */

/* Media query para dispositivos medianos */
@media screen and (max-width: 1440px) {
    .carousel-image {
      height: 650px;
      }
    .logoPrincipal img{
        width: 340px;
        height: 70px;
        padding-right: 60px;
        padding-top: 6px;
        margin-left: -125px;
    }
    .header-top .logo img {
        width: 0px;
        height: 0px;
    }
    #menu{
        position: absolute;
        top: 15%;
        width: 230px;
        height: 450px;
    }
    #menu ul{
        padding: 0 20px;
        
    }
    /* .search{
        margin-left: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .search .other-services a {
        width: 50%;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--color-5);
        color: var(--color-4);
        text-decoration: none;
        padding: 7px;
        overflow: hidden;
        border-radius: 10px;
        transition: width 0.8s ease;
        cursor: pointer;
    }
    .search .other-services a .link-text{
        display: block;
        font-family: var(--font-3);
        font-size: 10px;
        margin-left: 10px;
    }
    
    .search .other-services a:hover {
        width: 100%;
    }
    
    .search .other-services a:hover .link-text{
        transition: 2s ease;
        display: block;
    }
    .services > a{
        display: flex;
        height: 50%;
        flex-direction: column;
        align-items: center;
        font-family: var(--font-1);
        color: var(--color-5);
        font-size: 18px;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
    }
    .services > a > p{
        margin-top: 10px;
        margin-left: 30%;
        font-size: 14px;
        font-family: var(--font-3);
    }
  }

/* Media query para dispositivos medianos */
@media screen and  (max-width: 1024px) {
  body {
    font-size: 14px;
  }
    .carousel-image {
        height: 450px;
    }
    .logoPrincipal img{
        width: 260px;
        height: 55px;
        padding-right: 60px;
        padding-top: 6px;
        margin-left: -80px;
    }
    #menu{
        position: absolute;
        top: 19.8%;
        width: 230px;
        height: 450px;
    }
    #menu ul{
        padding: 0 20px;
        
    }
    .fa-xmark{
        right: 0;
        top: 5px;
    }
    .services > a{
        display: flex;
        height: 50%;
        flex-direction: column;
        align-items: center;
        font-family: var(--font-1);
        color: var(--color-5);
        font-size: 18px;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
    }
    .services > a > p{
        margin-left: 30%;
        font-size: 14px;
        font-family: var(--font-3);
    }
    .search .other-services {
        display: flex;
        margin-top: 10px;
        gap: 15px;
        padding-bottom: 10px;
        margin-left: 30%;
    }
    .search #search-bar input{
        width: 180%;
    }
    .search{
        margin-left: -5%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .services{
        display: grid;
        grid-template-columns: 40% 40%;
        gap: 10%;
        margin-top: 5%;
        margin-left: -15%;
    }
}

/* Media query para dispositivos pequeños */
@media screen and  (max-width: 768px) {
    .carousel-image {
        height: 300px;
    }
    .logoPrincipal img{
        width: 0px;
        height: 0px;
    }
    .header-top .logo img {
        width: 185px;
        height: 35px;
        padding-right: 50px;
        padding-top: 2px;
    }
    #menu{
        position: absolute;
        top: 22.9%;
        width: 230px;
        height: 450px;
    }
    #menu ul{
        padding: 0 20px;
    }
    .fa-xmark{
        right: 0;
        top: 5px;
    }
    .search #search-bar input{
        width: 400px;
    }
    .search .other-services {
        display: flex;
        margin-top: 10px;
        gap: 15px;
        padding-bottom: 10px;
        margin-left: 0%;
    }
    .carrito{
        width: 300px;
        top: 157px;
    }
    .services > a{
        display: flex;
        height: 50%;
        flex-direction: column;
        align-items: center;
        font-family: var(--font-1);
        color: var(--color-5);
        font-size: 18px;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
    }
    .services > a > p{
        margin-left: 30%;
        font-size: 14px;
        font-family: var(--font-3);
    }
    .search #search-bar input{
        width: 350px;
    }
    .search{
        margin-left: -20%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .services{
        display: grid;
        grid-template-columns: 40% 40%;
        gap: 10%;
        margin-top: 5%;
        margin-left: -20%;
    }
}

/* Media query para dispositivos extra pequeños */
@media screen and  (max-width: 425px) {
    .social-networks {
    text-align: center;
    }
    .carousel-image {
        height: 200px;
    }
    .logoPrincipal img{
        width: 0px;
        height: 0px;
        display: none;
    }
    .header-top .logo img {
        width: 190px;
        height: 40px;
        padding: 5px 40px;
    }
    #menu{
        position: absolute;
        width: 230px;
        height: 450px;
        top: 166px;
    }
    #menu ul{
        padding: 0 20px;
    }
    .services > a{
        display: flex;
        height: 50%;
        flex-direction: column;
        align-items: center;
        font-family: var(--font-1);
        color: var(--color-5);
        font-size: 18px;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
    }
    .services > a > p{
        margin-left: -30%;
        font-size: 14px;
        font-family: var(--font-3);
    }
    .search #search-bar input{
        width: auto;
    }
    .search{
        margin-left: -10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .search .other-services {
        display: flex;
        margin-top: 10px;
        gap: 15px;
        padding-bottom: 10px;
        margin-left: 0%;
    }
    .services{
        display: grid;
        grid-template-columns: 30% 30%;
        gap: 20%;
        margin-top: 0%;
        margin-left: 5%
    }
    .carro:hover #texto-carrito {
        display: none;
    }
    #texto-carrito {
        display: none;
    }
}
/* termina seccion responsive */