/* Global Configuration */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-3);
}
:root{
    --color1: #e90000;
    --color-2: #D2D2D2; 
    --color-3: #777777;  
    --color-4: black; 
    --color-5: white;
    --color-6: #FF9F23;
    --font-1: "Open Sans", sans-serif;
    --font-2: "Yanone Kaffeesatz", sans-serif;
    --font-3: 'Poppins', sans-serif;
}

a:link{
    color: black;
}
/* Header */

/* Header Top */
.header-top{
    display: none;
    background: var(--color-2);
    display: flex;
    justify-content: space-between;
}


/* icons*/

.wrapper .button{
  display: inline-block;
  height: 60px;
  width: 30px;
  float: left;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease-out;
}
.wrapper .button:hover{
  width: 100px;
}
.wrapper .button .icon{
  display: inline-block;
  height: 50px;
  width: 20px;
  margin-right: 20px;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 90px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1):hover .icon{
  background: #4267B2;
}
.wrapper .button:nth-child(2):hover .icon{
  background: #1DA1F2;
}
.wrapper .button:nth-child(3):hover .icon{
  background: #E1306C;
}
.wrapper .button:nth-child(4):hover .icon{
  background: #333;
}
.wrapper .button:nth-child(5):hover .icon{
  background: #ff0000;
}
.wrapper .button .icon i{
  font-size: 15px;
  line-height: 40px;
  transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon i{
  color: #fff;
}
.wrapper .button span{
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1) span{
  color: #4267B2;
}
.wrapper .button:nth-child(2) span{
  color: #1DA1F2;
}
.wrapper .button:nth-child(3) span{
  color: #E1306C;
}
.wrapper .button:nth-child(4) span{
  color: #333;
}
.wrapper .button:nth-child(5) span{
  color: #ff0000;
}

.header-top .logo img{
    width: 0px;
    height: 0px;
}

/* logo index */

.logoPrincipal img{
    width: 300px;
    height: 65px;
    margin-left: 100px;
}

/* Carrucel de imagenes */
.carousel-image {
    height: 750px;
}

/* Header Bottom */

.header-bottom{
    display: grid;
    grid-template-columns: 19% 0% 50% 30%;
    align-items: center;
    justify-content: center;
    background: var(--color1);
    padding-top: 10px;
    padding-bottom: 10px;
}

.header-bottom .icon-menu{
    margin-left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.header-bottom .logo img{
    display: none;
}

/* Icon Menu */

.icon-menu {
    color: var(--color-5);
    display: flex;
    justify-content: center;
    display: none;
}

/* Search */

.search{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search #search-bar input{
    border-radius: 10px;
    color: var(--color-3);
    padding: 8px 5px 8px 5px ;
    font-family: var(--font-3);
    font-size: 15px;
    border: none;
    text-align: center;
    display: none;
    width: auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

/* Other Services */

.search .other-services {
    display: flex;
    margin-top: 10px;
    margin-left: 1600px;
    padding-bottom: 10px;
}

.search .other-services a {
    width: 600px;
    height: 35px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: var(--color-5);
    color: var(--color-4);
    text-decoration: none;
    padding: 10px ;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
}
.search .other-services a:first-child{
    display: none;
}
.search .other-services a .link-text{
    display: flex;
    font-family: var(--font-3);
    font-size: 13px;
    width: 100%;
    margin-left: 200px;
}
/* Services */

.services{
    display: grid;
    grid-template-columns: 40% 40%;
    gap: 10%;
    display: none;

}

.services > a{
    display: flex;
    height: 50%;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-1);
    color: var(--color-5);
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
.services > a > p{
    margin-top: 10px;
    font-size: 14px;
    font-family: var(--font-3);
}

.services > a > i{
    font-size: 30px;
}

/* estilos login */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body{
    background-image: url(../imagenes/persona-comprando.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

main{
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}

.contenedor__todo{
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
    margin-top: 8%;
}

.caja__trasera{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: #ee3c3c;
    background-image: url(../../assets/images/images/bg4.jpg);
    
}

.caja__trasera div{
    margin: 100px 40px;
    color: white;
    transition: all 500ms;
}


.caja__trasera div p,
.caja__trasera button{
    margin-top: 13px;
}

.caja__trasera div h3{
    font-weight: 400;
    font-size: 26px;
}

.caja__trasera div p{
    font-size: 16px;
    font-weight: 300;
}

.caja__trasera button{
    padding: 10px 40px;
    border: 2px solid #fff;
    font-size: 14px;
    background: transparent;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    transition: all 300ms;
}
.caja__trasera button:hover{
    background: #fff;
    color: #e90000;
}

/*Formularios*/

.contenedor__login-register{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -185px;
    left: 10px;

    /*La transicion va despues del codigo JS*/
    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.contenedor__login-register form{
    width: 100%;
    padding: 80px 20px;
    background: white;
    position: absolute;
    border-radius: 20px;
}

.contenedor__login-register form h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: red;
    text-shadow: 0px 8px 12px #ee3c3c;
}
.form-select{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #F2F2F2;
    font-size: 16px;
    outline: none;
    border: none;

}
.contenedor__login-register form input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #F2F2F2;
    font-size: 16px;
    outline: none;
}

.contenedor__login-register form button{
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background: #FF9F23;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    border-radius: 8px;
    width: 100%;
}
.formulario__login{
    opacity: 1;
    display: block;
}
.formulario__register{
    display: none;
}

.contenedor__login-register a{
    text-decoration: none;
    color: rgba(174, 14, 14, 0.741);
    font-size: 14px;
}

@media screen and (max-width: 850px){

    main{
        margin-top: 50px;
    }

    .caja__trasera{
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }

    .caja__trasera div{
        margin: 0px;
        position: absolute;
    }


    /*Formularios*/

    .contenedor__login-register{
        top: -10px;
        left: -5px;
        margin: auto;
    }

    .contenedor__login-register form{
        position: relative;
    }
}
/* fin login */

/* footer de la */

footer{
    width: 100%;
    padding: 5px 0px;
    background-image: url('../images/background-footer.svg');
    background-size: cover;
    margin-top: 10%;
}

.box__copyright{
    max-width: 50%;
    margin: auto;
    text-align: center;
    padding: 20px 40px;
}

.box__copyright p{
    margin-top: 50px;
    color: #7a7a7a;
}

.box__copyright hr{
    border: none;
    height: 5px;
    background-color: #7a7a7a;    
}

/*Aquí termina el FOOTER*/

/* SECCION RESPONSIVE */

/* Media query para dispositivos medianos */
@media screen and (max-width: 1440px) {
    .carousel-image {
      height: 650px;
      }
      .logoPrincipal img{
        width: 0px;
        height: 0px;
    }
  }

/* Media query para dispositivos medianos */
@media screen and  (max-width: 1024px) {
  body {
    font-size: 14px;
  }
    .carousel-image {
        height: 450px;
    }
    .logoPrincipal img{
        width: 0px;
        height: 0px;
    }
    .header-top .logo img {
        width: 160px;
        height: 35px;
        padding-right: 50px;
        margin-left: 30%;
        padding-top: 5px;
    }
    .search .other-services{
        margin-left: 250px;
    }
    .search .other-services a{
        position: relative;
        width: 200px;
    }
    .search .other-services a .link-text {
        display: flex;
        font-family: var(--font-3);
        font-size: 13px;
        width: 100%;
        margin-left: 20px;
    }
    .box__copyright{
        max-width: auto;
    }
}

/* Media query para dispositivos pequeños */
@media screen and  (max-width: 768px) {
    .carousel-image {
        height: 350px;
    }
    .logoPrincipal img{
        width: 200px;
        margin-left: 40px;
        height: 60px;
        display: none;
    }
    .header-top .logo img {
        width: 100px;
        position: relative;
        height: 28px;
        right: 25px;
        top: 0px;
    }
    .search .other-services{
        margin-left: -140px;
    }
    .search .other-services a{
        position: relative;
        width: 800px;
    }
}

/* Media query para dispositivos extra pequeños */
@media screen and  (max-width: 426px) {
  .social-networks {
    text-align: center;
  }
    .carousel-image {
        height: 200px;
    }
    .logoPrincipal img{
        width: 0px;
        height: 0px;
    }
    .header-top .logo img {
        width: 165px;
        height: 35px;
        padding-right: 50px;
        margin-left: 20%;
        padding-top: 5px;
    }
    .search .other-services{
        margin:auto;
    }
    .search .other-services a{
        position: relative;
        width: 200px;
    }
    .search .other-services a .link-text {
        display: flex;
        font-family: var(--font-3);
        font-size: 13px;
        width: 100%;
        margin-left: 20px;
    }
    .box__copyright{
        max-width: auto;
    }
}

/* termina seccion responsive */    