<!-- Estructura header -->
<body>
    <div class="container">
        <header>
            <div class="header-top">
                <div class="social-networks">
                    <a href="#"><i class="fa-sharp fa-solid fa-phone"></i></a>
                    <a href="#"><i class="fa-solid fa-user"></i></a>
                    <a href="#"><i class="fa-solid fa-message"></i></a>
                </div>
                <div class="logo">
                    <img src="assets/images/logo rojo.png" alt="">
                </div>
            </div>
            <div class="header-bottom">
                <div class="icon-menu">
                    <i class="fa-solid fa-bars"></i>
                </div>
                <div class="logo">
                    <img src="../" alt="">
                </div>
                <div class="search">
                    <div id="search-bar">
                        <input type="search" name="searchInput" placeholder="¿Que buscas hoy?">
                    </div>
                    <div class="other-services">
                        <a href="#">
                          <i class="fa-sharp fa-solid fa-shop"></i><span class="link-text">Modo de Entrega</span>
                        </a>
                        <a href="#">
                          <i class="fa-solid fa-store"></i><span class="link-text">¿Quienes somos?</span>
                        </a>
                      </div>
                </div>
                <div class="services">
                    <a href="#">
                        <i class="fa-solid fa-cart-shopping micarrito"></i>
                        <p>Mi carrito</p>
                    </a>
                    <a href="#">
                        <i class="fa-solid fa-circle-user mi-cuenta"></i>
                        <p>Mi cuenta</p>
                    </a>
                </div>
            </div>
        </header>
        
        
      </div> <!-- container -->

      <br><br>


      <div id="carouselExampleIndicators" class="carousel slide w-75 m-auto"  data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets/images/carrusel.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/images/carrucel2.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/images/carrucel3.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    <!-- Scripts Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

    </div>


    <!-- Scripts Js-->
    <!-- <script src="assets/js/indexHelper.js"></script>
    <script src="assets/js/index.js"></script> -->
</body>
</html> 