
<body>
    <div class="container">
        <header>
            <div class="header-top">
                <div class="social-networks">
                    <a href="#"><i class="fa-sharp fa-solid fa-phone"></i></a>
                    <a href="#"><i class="fa-solid fa-user"></i></a>
                    <a href="#"><i class="fa-solid fa-message"></i></a>
                </div>
                <div class="logo">
                    <img src="assets/images/logo rojo.png" alt="">
                </div>
            </div>
            <div class="header-bottom">
                <div class="icon-menu">
                    <i class="fa-solid fa-bars"></i>
                </div>
                <div class="logo">
                    <img src="assets/images/logo-white.png" alt="">
                </div>
                <div class="search">
                    <div id="search-bar">
                        <input type="search" name="searchInput" placeholder="¿Que buscas hoy?">
                    </div>
                    <div class="other-services">
                        <a href="#">
                          <i class="fa-sharp fa-solid fa-shop"></i><span class="link-text">Modo de Entrega</span>
                        </a>
                        <a href="#">
                          <i class="fa-solid fa-store"></i><span class="link-text">¿Quienes somos?</span>
                        </a>
                      </div>
                </div>
                <div class="services">
                    <a href="#">
                        <i class="fa-solid fa-cart-shopping carrito-compras"></i>
                        <p>Mi carrito</p>
                    </a>
                    <a href="#">
                        <i class="fa-solid fa-circle-user"></i>
                        <p>Mi cuenta</p>
                    </a>
                </div>
            </div>
        </header>
    </div>
    <div></div>

    <!-- Scripts Js-->
    <script src="assets/js/helper.js"></script>
    <script src="assets/js/main.js"></script>
</body>
</html> 