@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-3);
}
:root{
    --color1: #e90000;
    --color-2: #D2D2D2; 
    --color-3: #777777;  
    --color-4: black; 
    --color-5: white;
    --color-6: #FF9F23;
    --font-1: "Open Sans", sans-serif;
    --font-2: "Yanone Kaffeesatz", sans-serif;
    --font-3: 'Poppins', sans-serif;
}

a:link{
    color: black;
}
/* Header */

/* Header Top */
.header-top{
    background: var(--color-2);
    display: flex;
    justify-content: space-between;
}


/* icons*/

.wrapper .button{
  display: inline-block;
  height: 60px;
  width: 30px;
  float: left;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  /* transition: all 0.3s ease-out; */
}
.wrapper .button:hover{
  width: 100px;
}
.wrapper .button .icon{
  display: inline-block;
  height: 50px;
  width: 20px;
  margin-right: 20px;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 90px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1):hover .icon{
  background: #4267B2;
}
.wrapper .button:nth-child(2):hover .icon{
  background: #1DA1F2;
}
.wrapper .button:nth-child(3):hover .icon{
  background: #E1306C;
}
.wrapper .button:nth-child(4):hover .icon{
  background: #333;
}
.wrapper .button:nth-child(5):hover .icon{
  background: #ff0000;
}
.wrapper .button .icon i{
  font-size: 15px;
  line-height: 40px;
  transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon i{
  color: #fff;
}
.wrapper .button span{
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1) span{
  color: #4267B2;
}
.wrapper .button:nth-child(2) span{
  color: #1DA1F2;
}
.wrapper .button:nth-child(3) span{
  color: #E1306C;
}
.wrapper .button:nth-child(4) span{
  color: #333;
}
.wrapper .button:nth-child(5) span{
  color: #ff0000;
}

/* icons fin */

.header-top .logo img{
    width: 0px;
    height: 0px;
}

/* logo index */

.logoPrincipal img{
    width: 270px;
    height: 55px;
    margin-left: -130px;
}

/* Carrucel de imagenes */

.carousel-image {
    height: 750px;
}

/* Header Bottom */

.header-bottom{
    display: grid;
    grid-template-columns: 19% 0% 50% 30%;
    align-items: center;
    justify-content: center;
    background: var(--color1);
    padding-top: 10px;
    padding-bottom: 10px;
}

.header-bottom .icon-menu{
    margin-left: 34%;
    transform: translateX(-50%);
    font-size: 35px;
    cursor: pointer;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.header-bottom .logo .logoPrincipal img{
    display: none;
}

/* Icon Menu */

.icon-menu {
    color: var(--color-5);
    display: flex;
    justify-content: center;
}

/* Search */

.search{
    margin-left: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search #search-bar input{
    width: 550px;
    border-radius: 10px;
    color: var(--color-3);
    padding: 8px 5px 8px 5px ;
    font-family: var(--font-3);
    font-size: 15px;
    border: none;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

/* Other Services */

.search .other-services {
    display: flex;
    margin-top: 10px;
    gap: 15px;
    padding-bottom: 10px;
}

.search .other-services a {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-5);
    color: var(--color-4);
    text-decoration: none;
    padding: 7px;
    overflow: hidden;
    border-radius: 10px;
    /* transition: width 0.8s ease; */
    cursor: pointer;
}
.search .other-services a .link-text{
    display: block;
    font-family: var(--font-3);
    font-size: 10px;
    margin-left: 10px;
}

/* .search .other-services a:hover {
    width: 100%;
}

.search .other-services a:hover .link-text{
    transition: 2s ease;
    display: block;
} */




/* Services */

.services{
    display: grid;
    grid-template-columns: 40% 40%;
    gap: 10%;
}

.services > a{
    display: flex;
    height: 50%;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-1);
    color: var(--color-5);
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
.services > a > p{
    margin-top: 10px;
    margin-left: 30%;
    font-size: 14px;
    font-family: var(--font-3);
}

.services > a > i{
    font-size: 30px;
    margin-left: 30%;
}

.cuenta .fa-circle-user {
    position: relative;
    left: 30px;
    top: 0px;
    font-size: 30px;
    color: #FFFFFF;
}

.li-2 {
    position: absolute;
    list-style: none;
    left: 1320px;
    top: 84px;
    font-size: 16px;
    z-index: 1;
}

.li-2 a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: var(--font-3);
    font-size: 14px;
}

/* SECCION RESPONSIVE */

/* Media query para dispositivos medianos */
@media screen and (max-width: 1440px) {
    .carousel-image {
      height: 650px;
      }
    .logoPrincipal img{
        width: 270px;
        height: 60px;
        margin-left: -130px;
    }
    .header-top .logo img {
        width: 0px;
        height: 0px;
    }
    #menu{
        position: absolute;
        top: 17%;
        width: 16%;
        height: 450px;
    }
    #menu ul{
        padding: 0 20px;
        
    }
    .carrito{
        width: 30%;
        top: 120.5px;
    }
    /* .search #search-bar input{
        width: 500px;
    } */

}

/* Media query para dispositivos medianos */
@media screen and  (max-width: 1024px) {
  body {
    font-size: 14px;
  }
    .carousel-image {
        height: 450px;
    }
    .logoPrincipal img{
        width: 200px;
        height: 50px;
        margin-left: -80px;
    }
    #menu{
        position: absolute;
        top: 20.2%;
        width: 23%;
        height: 450px;
    }
    #menu ul{
        padding: 0 20px;
        
    }
    .fa-xmark{
        right: 0;
        top: 5px;
    }
    .services > a{
        display: flex;
        height: 50%;
        flex-direction: column;
        align-items: center;
        font-family: var(--font-1);
        color: var(--color-5);
        font-size: 18px;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
    }
    .services > a > p{
        margin-left: 30%;
        font-size: 14px;
        font-family: var(--font-3);
    }
    .search .other-services {
        display: flex;
        margin-top: 10px;
        gap: 15px;
        padding-bottom: 10px;
        margin-left: 30%;
    }
    .search #search-bar input{
        width: 180%;
    }
    .search{
        margin-left: -5%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .services{
        display: grid;
        grid-template-columns: 40% 40%;
        gap: 10%;
        margin-top: 5%;
        margin-left: -15%;
    }
    .carrito{
        width: 35%;
        top: 124px;
    }
}

/* Media query para dispositivos pequeños */
@media screen and  (max-width: 768px) {
    .carousel-image {
        height: 300px;
    }
    .logoPrincipal img{
        width: 0px;
        height: 0px;
    }
    .header-top .logo img {
        width: 185px;
        height: 35px;
        padding-right: 50px;
        padding-top: 2px;
    }
    #menu{
        position: absolute;
        top: 21.5%;
        width: 30%;
        height: 450px;
    }
    #menu ul{
        padding: 0 20px;
    }
    .fa-xmark{
        right: 0;
        top: 5px;
    }
    .search #search-bar input{
        width: 400px;
    }
    .search .other-services {
        display: flex;
        margin-top: 10px;
        gap: 15px;
        padding-bottom: 10px;
        margin-left: 0%;
    }
    .carrito{
        width: 45%;
        top: 131px;
    }
    .services > a{
        display: flex;
        height: 50%;
        flex-direction: column;
        align-items: center;
        font-family: var(--font-1);
        color: var(--color-5);
        font-size: 18px;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
    }
    .services > a > p{
        margin-left: 30%;
        font-size: 14px;
        font-family: var(--font-3);
    }
    .search #search-bar input{
        width: 350px;
    }
    .search{
        margin-left: -20%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .services{
        display: grid;
        grid-template-columns: 40% 40%;
        gap: 10%;
        margin-top: 5%;
        margin-left: -20%;
    }
    
}

/* Media query para dispositivos extra pequeños */
@media screen and  (max-width: 426px) {
    .social-networks {
    text-align: center;
    }
    .carousel-image {
        height: 200px;
    }
    .logoPrincipal img{
        width: 0px;
        height: 0px;
        display: none;
    }
    .header-top .logo img {
        width: 190px;
        height: 40px;
        padding: 5px 40px;
    }
    #menu{
        position: absolute;
        width: 54%;
        height: 450px;
        top: 24.4%;
    }
    #menu ul{
        padding: 0 20px;
    }
    .services > a{
        display: flex;
        height: 50%;
        flex-direction: column;
        align-items: center;
        font-family: var(--font-1);
        color: var(--color-5);
        font-size: 18px;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
    }
    .services > a > p{
        margin-left: -30%;
        font-size: 14px;
        font-family: var(--font-3);
    }
    .search #search-bar input{
        width: auto;
    }
    .search{
        margin-left: -10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .search .other-services {
        display: flex;
        margin-top: 10px;
        gap: 15px;
        padding-bottom: 10px;
        margin-left: 0%;
    }
    .services{
        display: grid;
        grid-template-columns: 30% 30%;
        gap: 20%;
        margin-top: 0%;
        margin-left: 5%
    }
    .carro:hover #texto-carrito {
        display: none;
    }
    #texto-carrito {
        display: none;
    }
    .carrito{
        width: 65%;
        top: 150px;
    }
}
/* termina seccion responsive */


#menu {
    position: relative;
    background-color: #e90000;
    width: 200px;
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    left: -200px;
    z-index: 10;
    transition: all .3s linear;
    border: solid rgba(0, 0, 0, 0.121) 2px;
}

#menu.active {
    opacity: 1;
    left: 0;
}

.fa-xmark {
    position: absolute;
    right: -10px;
    top: 18px;
    font-size: 20px;
    cursor: pointer;
}

#menu ul {
    position: absolute;
    list-style: none;
    font-family: var(--YanoneKaffeesatz);
    font-size: 15px;
    color: #FFFFFF;
    top: -10px;
}

#menu ul li {
    border-bottom: 2px solid #FF9F23;
    padding: 10px;
    padding-top: 35px;
    padding-left: 10px;
}

#menu ul li a {
    color: #FFFFFF;
    text-decoration: none;
}
.lines {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -610px;
    width: 95%;
    height: 30px;
    margin: auto;
}

.lines a {
    position: relative;
    justify-content: center;
    align-items: center;
    border: 2px solid #000000;
    height: 30px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    padding-left: 0px;
    display: flex;
    color: #000000;
    font-size: 15px;
    font-family: var(--YanoneKaffeesatz);
}

.lines a:hover {
    background-color: #e90000;
}

.lines a:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.lines a:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#container2 {
    position: relative;
    max-width: 1600px;
    margin: auto;
    top: 250px;
}

.lines a.active {
    background-color: #e90000;
    color: white; /* Cambia el color del texto cuando está activo */
  }
  
/* estilos de las cajas donde va la informacion de las categorias */

.lines {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.lines a {
    padding: 18px 20px;
    margin: 0 14px;
    text-decoration: none;
    color: #333;
    border: 1px solid #333;
    border-radius: 5px;
}

.content-boxes {
    margin-top: 20px;
    text-align: center;
}

.content {
    display: none;
    padding: 20px;   
}

.content h2 {
    margin-bottom: 10px;
}

/* SECCION CONTENEDOR DE ITEMS */
.item {
    border: 1px solid black;
    border-radius: 10px;
    width: 230px;
    padding: 30px;
    margin: 20px;
    text-align: center; 
    position: relative;
}

.item .titulo-item {
    font-size: 20px;
    font-weight: bolder;
    text-transform: uppercase;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
}

.item .imagenCate{
    margin-top: 20%;
}

.item .img-item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item .precio-item {
    font-weight: bold;
    font-size: 23px;
}

.item p {
    font-size: 13px;
    width: 100%;
    color: #aaaaaa;

}

.content{
    margin-top: -22rem;
}

#refrigerados-container, #bebidas-container, #despensa-container, #snacks-container, #cuidadoPersonal-container, #aseo-container, #granos-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px; /* Añade un padding para el espaciado vertical */
    margin: 0 auto; /* Centrar horizontalmente en la pantalla */
    max-width: 1200px;  
}
.item .boton-item {
    border: none;
    margin-top: 10px;
    border-radius: 8px;
    background-color: #FF9F23;
    width: 100%;
    padding: 10px 10px;
    cursor: pointer;
    color: white;
    font-size: 14px;
}

.imagenCate {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100%;
    overflow: hidden;
    height: 180px;
}

.imagenCate img {
    max-width: 80%;
    max-height: 80%;
}

/* Estilos existentes... */

.no-products-container {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    height: 100vh; /* Ajusta la altura para que abarque toda la pantalla */
    background-color: #f0f0f0; /* Agrega un fondo para destacar el mensaje */
    text-align: center;
}


/* boton agregar al carro */
.boton-item {
    margin-top: 20px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    gap: 15px;
    background-color: orange;
    /* outline: 1px rgb(240, 142, 15) solid; */
    outline-offset: -3px;
    border-radius: 12px;
    border: 1px solid black;
    
    cursor: pointer;
    transition: 400ms;
  }
  
  .boton-item{
    color: white;
    font-weight: 600;
    font-size: 1em;
    transition: 400ms;
  }
  
  .boton-item svg path {
    transition: 200ms;
  }
  
  .boton-item:hover {
    background-color: transparent;
  }
  
  .boton-item:hover{
    color: #181717;
  }
  
  .boton-item:hover svg path {
    fill: #181717;
  }


  /* seccion css carrito de compras */
  .carrito {
    border: 1px solid #666;
    width: 26%;
    margin-top: 30px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: auto;
    position: absolute;
    top: 121px;
    right: 0;
    transition: .3s;
    /* Estilos para ocultar */
    opacity: 1;
    font-family: Arial, Helvetica, sans-serif;
}
#carrito{
    display: none;
}

.carrito .header-carrito {
    background-color: #ff0000;
    color: #fff;
    font-size: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 25px 10px;
}

.carrito .header-carrito .fa-xmark {
    position: absolute;
    color: #FFFFFF;
    right: 10px;
    top: 10px;
}

.carrito .carrito-item {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    position: relative;
    border-bottom: 1px solid #666;
    padding: 20px;
}

.carrito .carrito-item img {
    margin-right: 20px;
}

.carrito .carrito-item .carrito-item-titulo {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.carrito .carrito-item .selector-cantidad {
    display: inline-block;
    margin-right: 25px;
}

.carrito .carrito-item .carrito-item-cantidad {
    border: none;
    font-size: 18px;
    background-color: transparent;
    display: inline-block;
    width: 30px;
    padding: 5px;
    text-align: center;
}

.carrito .carrito-item .selector-cantidad i {
    font-size: 18px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
}

.carrito .carrito-item .carrito-item-precio {
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 5px;
}

.carrito .carrito-item .btn-eliminar {
    position: absolute;
    right: 15px;
    top: 15px;
    color: #000;
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
    display: block;
    background: transparent;
    z-index: 20;
}

.carrito .carrito-item .btn-eliminar i:hover {
    color: #FF9F23;
}

.carrito-total {
    background-color: #f3f3f3;
    padding: 30px;
}

.carrito-total .fila {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

.carrito-total .btn-pagar {
    display: block;
    width: 100%;
    border: none;
    background: #FF9F23;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}

.carrito-total .btn-pagar:hover {
    scale: 1.05;
}
  /* medios de check de botones*/
.containeres input {
    position: relative;
    opacity: 0;
    margin: auto;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .containeres {
    display: flex;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    user-select: none;
    animation: jello-horizontal 0.9s both;
    margin: auto;   
    justify-content:center;
  }
  
  .checkmarker:hover {
    animation: jello-horizontal 0.9s both;
  }
  
  .checkmarker {
    position: relative;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* left: 800px; */
    height: 1.3em;
    width: 1.3em;
    border-radius: 50%;
    background-color: #eee;
  }
  
  .containeres input:checked ~ .checkmarker {
    background-color:rgba(255, 0, 0, 0.7);
  }
  
  .checkmarker:after {
    content: "";
    position: absolute;
    display: none;
 
  }
  
  .containeres input:checked ~ .checkmarker:after {
    display: block;
  }
  
  .containeres .checkmarker:after {
    left: 0.45em;
    top: 0.25em;
    width: 0.25em;
    height: 0.5em;
    border: solid white;
    border-width: 0 0.15em 0.15em 0;
    transform: rotate(45deg);
  }

  .checkbox{
    padding: 5px;
    border: 0.25rem;
  }
  
  @keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
      transform: scale3d(1.25, 0.75, 1);
    }
  
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
      transform: scale3d(0.75, 1.25, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
      transform: scale3d(1.15, 0.85, 1);
    }
  
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
      transform: scale3d(0.95, 1.05, 1);
    }
  
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
      transform: scale3d(1.05, 0.95, 1);
    }
  
    100% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  